<mat-toolbar class="color" >
    <div class="boto">
    <button  class="confi" routerLink="/menu/"></button>
    <button class="tienda"></button>
    <button class="noti"></button>
    </div>
    <div class="colorc">
      <img src="./assets/images/logo.png" alt="" >
      <h1  >Estudiante</h1>
    </div>
  
  </mat-toolbar>
  <div class="body">
  
      <div class="fondoTarjeta">
        <div class="estudiante" >
  
          <img src="assets/images/avatar/avatar2.png" alt="" height="100">
          <div class="orden">
            <h2>Nombre:</h2>
            <h2>facultad:</h2>
            <h3 class="puntos"># puntos:</h3>
            <!-- <h3>Puntos Individuales: {{estudiante.puntaje}}</h3> -->
            <button mat-button style="background-color: rgb(90, 134, 155); color: rgb(255, 255, 255)"> Cambiar
              avatar</button>
          </div> 
            </div>
      </div>
  </div>
