mat-card-title{
  font-size:30px;
  color: #ffff;
  margin-left: 35%;
  margin-top: 10px;
}
mat-form-field {
  font-size: 14px;
  width: 50%;
  color: rgb(197,139,91);
  font-size: 18px;
  margin-left: 25%;
}
table {
  table-layout: fixed;
  width: 100%;

}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
  text-align: center;
  align-items: center;
  word-wrap: break-word;
  font-size:10px;
  line-height: 10px;
  font-family: 'Roboto';
}
