.body{
    background: url(../../../../assets/images/homeestudiante.png);
    background-size: cover;
   
}
.fondoTarjeta {
    width: 100em;
    height: 648px;
    font-family: Pirata One;
    /*Efecto espejo*/
    margin-left: 60px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.176);
  }
  .fondoTarjeta2 {
    width: 70em;
    height: 20em;
    margin: 10px auto;
    font-family: Pirata One;
    /*Efecto espejo*/
    padding: 1em;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.176);
  }
.estudiante>img{
    margin-left: 640px;
   
}
.estudiante>h2{
    margin-left: 640px;
}
.estudiante>button{
    margin-left: 640px;
}