.tarjetaPrincipal{
  width: 80%;
  height: 500px;
  margin-right: 20px;
  margin-left: 70px;
  /*Efecto espejo*/
  padding: 55px;
  background-color: #2e2e2e;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.36);
  font-size: 30px;
  color:rgb(255, 255, 255);
  text-align: center;
}

.entradas {
  display: grid;
  margin-top: 10px;
  margin-bottom: -100px;
  grid-template-columns: repeat(3, 20em);
  justify-content: center;

}
.campo-entrada {
  float: right;
  width: 100%;
  padding-right: 8px;

}
mat-form-field{
  width: 220px;
}
.titulos{
  font-size:20px;
  color: rgb(255, 255, 255);
  }
  .tituloImagen1{
    font-size: 25px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
  }
  .botonSeleccionarArchivo{
    margin-left: -150px;
    margin-top: -36px;
    width: 128px;
    height:20px;
    background-color: #31b2c2;
    border-radius: 20px;
    position: absolute;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.36);
    cursor: pointer;
  }


.boton {
  margin: 3px;
  position: center;
  margin-left: 5px;
  margin-right: -90%;
  line-height: 35px;
  align-items: center;
}

.botones {
  color: rgb(254, 254, 231);
  border-radius: 20px;
  background-color: #31b2c2;
  text-align: center !important;
  align-items: center !important;
  margin: 0 10px;
  display: inline-block;
  width: 150px;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.36);

}
.mat-input-element{
  color: rgb(233, 227, 223) !important;
}
mat-icon{
  color: rgb(238, 234, 234);
}
mat-card-title{
  font-size:30px;
}
