.body {
  display: flex;
  justify-content: left;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #2E2E2E;
}

/* .fondo{
  background-image: url(../../../../../assets/images/fondos/FondoPrincipal1.png);
  background-size: cover;
} */

.login {
  /* height: 10%;
  bottom: 50%;
  width: auto;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  align-items: center;
  display: flex; */

  position: absolute;
  width: 394px;
  height: 657px;
  left: 32px;
  top: 93px;

  border: 1px solid #FFFFFF;
  border-radius: 66px;
}
.mat-card{
  box-shadow:none;
}
.fondoTarjeta {
  
  
  font-family: Mouse Memoirs;
  /*Efecto espejo*/
  padding: 1em;
  width: 80%;
  border-radius: 15px;
  background: rgba(151, 116, 116, 0);
}

.imagen {
  
  box-sizing: border-box;

  position: absolute;
  width: 1450px;
  height: 925px;
  left: 470px;
  top: 1px;
  
  
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 155px 0px 0px 163px;
}

.logo {
  height: 120px;
  padding-left: 40px;
}

/*Responsive Mobile*/

@media only screen and (max-width: 600px) {
  .bg-img {
    width: 100%;
    margin-top: 5px;
    background-image: url(../../../../../assets/images/fondos/FondoPrincipal1.png);
    display: inline-table;
  }

  .fondoTarjeta {
    height: auto;
    width: auto;
    top: auto;
    bottom: auto;
    align-items: center;
    font-family: Mouse Memoirs;
    /*Efectoespejo*/

  }

}

/*Responsive Tablet*/

@media only screen and (max-width: 768px) {}

/*Responsive Laptop*/

@media only screen and (max-width: 992px) {}

/*Responsive Large Screen*/

@media only screen and (max-width: 1200px) {}