.body {
  display: flex;
  justify-content: left;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #2E2E2E;
}

/* .fondo{
  background-image: url(../../../../../assets/images/fondos/FondoPrincipal1.png);
  background-size: cover;
} */

.login {
  /* height: 10%;
  bottom: 50%;
  width: auto;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  align-items: center;
  display: flex; */
  position: absolute;
  width: 400px;
  height: 700px;
  left: 30px;
  top: 93px;
  border: 1px solid #FFFFFF;
  border-radius: 66px;
}
 

.mat-card {
  box-shadow: none;
}

.fondoTarjeta {
  font-family: Mouse Memoirs;
  /*Efecto espejo*/

  width: 86%;
  border-radius: 15px;
  background: rgba(151, 116, 116, 0);
}

.imagen {
  box-sizing: border-box;
  position: relative;
  width: 1450px;
  height: 925px;
  left: 460px;
  top: 1px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 0px;
}

.logo {
  height: 170px;
  
}

/*Responsive Mobile*/

@media only screen and (max-width: 600px) {
  .bg-img {
    width: 100%;
    
    /* background-image: url(../../../../../assets/images/fondos/FondoPrincipal1.png); */
    
    background: #2E2E2E;
    background-size:auto ;
  }

  .fondoTarjeta {
    height: auto;
    width: auto;
    top: auto;
    bottom: auto;
    align-items: center;
    font-family: Mouse Memoirs;
    /*Efectoespejo*/

  }
  .login {
    /* height: 10%;
    bottom: 50%;
    width: auto;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    display: flex; */
    position: absolute;
    width: 300px;
    height: 600px;
    left: 30px;
    top: 93px;
    border: 1px solid #FFFFFF;
    border-radius: 66px;
  }
.logo {
  height: 100px;
  margin-left: 20px;
}

}

/*Responsive Tablet*/

@media only screen and (max-width: 768px) {}

/*Responsive Laptop*/

@media only screen and (max-width: 992px) {}

/*Responsive Large Screen*/

@media only screen and (max-width: 1200px) {}