.body
{
  display: flex;
  justify-content: left;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: rgba(36, 28, 25, 0.918);
}
.fondo{
  background-image: url(../../../../../assets/images/fondos/FondoPrincipal1.png);
  background-size: cover;
}

.login{
  height: 30%;
  bottom: 50%;
  width: auto;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fondoTarjeta{
  height: auto;
  width: auto;
  top: auto;
  bottom: auto;
  align-items: center;
  font-family: Mouse Memoirs;
   /*Efecto espejo*/
  padding: 1em;
  width: 80%;
  border-radius: 15px;
  background: rgba(151, 116, 116, 0);
}

.logo{
  height: 120px;
  padding-left: 40px;
}

/*Responsive Mobile*/

@media only screen and (max-width: 600px) {
  .bg-img {
    width: 100%;
    margin-top: 5px;
    background-image: url(../../../../../assets/images/fondos/FondoPrincipal1.png);
    display: inline-table;
  }
  .fondoTarjeta{
    height: auto;
    width: auto;
    top: auto;
    bottom: auto;
    align-items: center;
    font-family: Mouse Memoirs;
    /*Efectoespejo*/

}

}

/*Responsive Tablet*/

@media only screen and (max-width: 768px){

}

/*Responsive Laptop*/

@media only screen and (max-width: 992px){

}

/*Responsive Large Screen*/

@media only screen and (max-width: 1200px){

}
