<app-menu (onToggleSideNav)="onToggleSideNav($event)"></app-menu>
<div class="fondo">

  <div class="menuIzq">
    <div class="menu">
      <button type="button" class="button" (click)="verTutorial()">
        <label style="margin-bottom:0%; cursor:pointer;">
          Tutorial
        </label>
        <img src="../../../../assets/images/tutorial.png" class="iconoMenu">
      </button>
      <button type="button" class="button" routerLink="/missionStudent">
        <!-- (click)="showModalMision()"  routerLink="/missionStudent"-->
        <label style="margin-bottom:0%; cursor:pointer;">
          Misiones
        </label>
        <img src="../../../../assets/images/mision.png">
      </button>
      <button type="button" class="button" (click)="articulosAdquiridos()">
        <label style="margin-bottom:0%; cursor:pointer;">
          Articulos Adquiridos
        </label>
        <img class="iconoMenu" style=" width: 50px;" src="../../../../assets/images/cofreArticulosAdq.png" >
      </button>
      <button type="button" class="button" (click)="home()">
        <label style="margin-bottom:0%; cursor:pointer;">
          Volver a Home
        </label>
        <img src="../../../../assets/icons/2.png" class="iconoMenu">
      </button>
    </div>
  </div>
  <div class="contentPerfilStudent">
    <div class="userRow">
      <img class="imgAvatar" src="assets/images/avatar/Avatar-2.png" alt="">
      <br><br>
      <div class="textWhite font24">Apodo: {{estudiante.nickName}}</div>
      <div class="textWhite font24">Nivel: 1</div>
      <div class="textWhite font24">Puntuación: {{estudiante.puntaje}} </div>
      <div class="textWhite font24">Monedas: </div>
    </div>
  </div>
  <div class="tesoro1">
    <a type="submit" href="../curso/ide/1/1">
      <img src="../../../../assets/images/Recurso36.png">
    </a>
  </div>
  <div class="tesoro2">
    <a type="submit" href="../curso/ide/1/1">
      <img src="../../../../assets/images/Recurso35.png" alt="">
    </a>
  </div>
  <div class="tesoro3">
    <a type="submit" href="../curso/ide/1/1">
      <img src="../../../../assets/images/Recurso34.png" alt="">
    </a>
  </div>
</div>

