<mat-card class="tarjetaPrincipal">
    <mat-card-content>
      <mat-card-title>lista de Articulos</mat-card-title>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input  matInput (keyup)="applyFilter($event)" placeholder="Ingrese el nombre del articulo" #input>
      </mat-form-field>
      <div class="demo-button-container">
        <button mat-raised-button (click)="registrarArticulo()" class="demo-button">
          Registrar Articulo
        </button>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="descripción">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
          </ng-container>

          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio</th>
            <td mat-cell *matCellDef="let row"> {{row.precio}} </td>
          </ng-container>

          <ng-container matColumnDef="nivelValido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nivel Valido</th>
            <td mat-cell *matCellDef="let row"> {{row.nivelValido}} </td>
          </ng-container>

          <ng-container matColumnDef="imagenArticulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Imagen</th>
            <td mat-cell *matCellDef="let row"> {{row.imagenArticulo}} </td>
          </ng-container>

          <ng-container matColumnDef="idCategoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Categoria</th>
            <td mat-cell *matCellDef="let row"> {{row.idCategoria}} </td>
          </ng-container>

          <ng-container matColumnDef="idEstado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Estado</th>
            <td mat-cell *matCellDef="let row"> {{row.idEstado}} </td>
          </ng-container>

          <ng-container matColumnDef="usuarioCreador">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Creador</th>
            <td mat-cell *matCellDef="let row"> {{row.usuarioCreador}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creación</th>
            <td mat-cell *matCellDef="let row"> {{row.fechaCreacion}} </td>
          </ng-container>

          <ng-container matColumnDef="usuarioModificador">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificador</th>
            <td mat-cell *matCellDef="let row"> {{row.usuarioModificador}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaModificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Modificación</th>
            <td mat-cell *matCellDef="let row"> {{row.fechaModificacion}} </td>
          </ng-container>

          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index"style="text-align:center">
              <a  class="botones" [routerLink]="['/articulos/editarArticulo/',element.idArticulo]" style="color:rgb(19, 12, 59)" matTooltip="Editar Articulo">
                <mat-icon>edit</mat-icon>
              </a>
              <a  class="botones" (click)="eliminarArticulo(i)" style="color:rgb(224, 26, 26)" matTooltip="Eliminar Articulo">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No Existe un Articulo con el Nombre "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[7]" aria-label="Seleccione la pagina de Articulos"></mat-paginator>
      </div>
    </mat-card-content>
</mat-card>
