mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
  /* background: linear-gradient(rgba(0, 255, 255, 0.403), rgb(38,38,38)); */

  background: rgb(38, 38, 38);
}

a {

  color: white;
  margin-left: 30px;
}

.altos {
  margin-top: 10px;
}

.salida {
  color: white;
  margin-left: 20px;
}

.color {
  background: url(../../../../assets/images/fondos/fondoHome.png);
  background-size: cover;

}

.colorc {
  margin-left: 600px;
}

.colorc>img {
  height: 50px;
  margin-left: 30px;
  margin-top: 10px;
}

.colorc>h1 {
  font-size: 37px;
  color: white;
margin-left: -20px;
}


mat-toolbar {
  align-content: space-between 10px;
  height: 100px;
}

/**menu burger*/
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50px;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.center:before,
.center:after {
  background: white;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.center div {
  background: aqua;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}

.center:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.center:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.center:hover div {
  transform: scale(0);
}

@media screen and (max-width: 600px) {
  .color {

    justify-content: none;
  }

  .menu>a {

    color: white;

  }

  .colorc {
    margin-left: 50px;
  }

  .colorc>img {
    height: 37px;
    margin-left: 30px;
    margin-top: 10px;
  }

  .colorc>h1 {
    font-size: 37px;
    color: white;

  }
}
