<div class="fondo">
  <br><br><br>
  <div class="container" cdkDropListGroup>
    <div class="dragandDrop">
      <h1>Arrastra las opciones</h1>
      <div class="opciones"
          cdkDropList
          [cdkDropListData]="palabras"
          (cdkDropListDropped)="drop($event)"
      >
        <div class="cards"
        id="tarjetas"
          *ngFor="let numeros of palabras"
          [cdkDragData] = "numeros"
          cdkDrag
        >
            <p>{{numeros}}</p>

        </div>
        <br>   <br>
      </div>
    </div>

    <div class="area">
      <h1>Respuestas</h1>
      <div class="listaResp"
        id="listaR"
        cdkDropList
        [cdkDropListData]="listaRespuesta"
        (cdkDropListDropped)="drop($event)">

        <div class="cards"
        id="tarjetas"
          *ngFor="let num of listaRespuesta"
          cdkDrag
          cdkDragBoundary=".listaResp">
          <p>{{num}}</p>
        </div>
        <br><br>
      </div>
    </div>
    <br><br>
  </div>

  <div class="btn">
    <button mat-button (click)="reto()" class="boton">Probar!</button>
  </div>
  <br><br><br>
</div>


