.crearUsuario {
  display: grid;
  padding: 10px;
}

.fondoTarjeta {
  width: 70em;
  height: 600px;
  margin: 10px auto;
  margin-bottom: -40px;
  font-family: Mouse Memoirs;
  text-align: center;
  /*Efecto espejo*/
  padding: 48px;
  border-radius: 24px;
  background: linear-gradient(
    135deg,
    rgba(159, 158, 158, 0.47),
    rgba(195, 195, 195, 0.315)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  /*
  background: #ffffff73;
  opacity: 35%;
  bottom: 5%;
  */

}

.titulo{
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 30px;
  margin-left: 510px;
}


.fondo {
  background-color: rgba(36, 28, 25, 0.918);
  background-repeat: no-repeat;
  background-size: cover;
  height: 920px;
  width: auto;
}

a {

  margin-top: 1px;
  height: auto;
  width: 100px;
  margin:10px auto;
}

h1 {
  font-size: 90px;
  margin: 0 390px;
}

.color {
  height: 120px;
  align-items: center;
  padding-left: 40%;
  background-color: rgba(36, 28, 25, 0);
  opacity: 0.9;

}

img {
  width: auto;
  height: 100px;
  align-items: center;
}
.imagenizq{
  margin-top:-43px;
  margin-bottom:250px;
  margin-left:-50px;
  width:800px;
  height:715px;
  border-radius: 24px;
}
.imagenLado{
  width: 800px;
  height: 735px;

}
