:root{
  --primary-color:white;
  --secondary-color:rgb(61,68,73);
  --highlight-color:rgb(143, 145, 146);

  --dt-background-container:#2a3338;
  --dt-border-color:var(--secondary-color);
  --dt-bg-color:(var(--highlight-color));
  --dt-text-color:var(--primary-color);
  --dt-input-background-color:var(--secondary-color);
  --dt-input-color:var(--primary-color);




}
.fondo {
  background-color: rgb(219,211,205);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  align-items: center;
  padding-left: 1%;
}
.banner{
  background-image: url(../../../../assets/images/fondos/bannerRanking.png);
  background-size: cover;
  height:500px;
  width:1879px;
  padding-left:-10px;
}
.titulo{
  padding-left: 10%;
  font-size:50px;
  color: #fff;
}
.container{
  margin-left: -2%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin-left: 300px;
}

.example-card1 {
  width: 250px;
  height: 100px;
  color: #fff;
  margin: 5px;
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  margin-left: 5%;
  max-width: 300px;
  background-image: linear-gradient( 135deg, #FFE985 10%, #FA742B 100%);
  margin-right: 70px;
}
.example-card2{
  width: 250px;
  height: 100px;
  color: #fff;
  margin: 5px;
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  margin-left: 5%;
  max-width: 300px;
  background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
  margin-right: 70px;
}
.example-card3{
  width: 250px;
  height: 100px;
  color: #fff;
  margin: 5px;
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  margin-left: 5%;
  max-width: 300px;
  background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);;
  align-items: center;
}

.example-header-image1{
  background-image: url('../../../../assets/images/Trofeo.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}
.example-header-image2{
  background-image: url('../../../../assets/images/Trofeo2.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}
.example-header-image3 {
  background-image: url('../../../../assets/images/Trofeo3.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}
.example-header-image4 {
  /*background-image: url('../../../../assets/images/avatar/av1.png');*/
  background-size: cover;
  width: 40px;
  height: 40px;
}
.jugador{
  text-align: center;
  padding-top: 10%;
  padding-left: 10%;
  font-size: 30px;
  line-height:25px;
  color: #fff;
}
.apodo{
  text-align: center;
  padding-left:10%;
  font-size:20px;
  line-height:25px;
  color:#fff
}
.puntaje{
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.tabla{
  padding-left:20%;

}
table {
  width: 70%;
  background: linear-gradient(
  135deg,
  rgb(61,68,73),
  rgb(61,68,73)
);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);




}
th, td {
  color: #fff;
  font-size: 25px;
  width: 5px;
  text-align: left;
  border-color: #fff;
}
td{
  width:150px;
  height:50px;
  align-items: center;
  color:rgb(214, 208, 208);
  font-size: 20px;
}
@media screen and (max-width: 700px) {
  .banner{
    background-image: url(../../../../assets/images/fondos/bannerRanking.png);
    background-size: cover;
    height:100px;
    width:410px;
    padding-left:-10px;
  }
  .container{
    margin-left: -2%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin-left: 72px;
  }
  .titulo{
    padding-left: 22%;
  font-size:50px;
  color: #fff;
  }
  .tabla{
    padding-left: 23%;
  }
}
