.fondo {
  background-color: rgb(219,211,205);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  align-items: center;
  padding-left: 1%;
}
.banner{
  background-image: url(../../../../assets/images/fondos/bannerRanking.png);
  background-size: cover;
  height:270px;
  width:1255px;
  padding-left:-10px;
}
.titulo{
  padding-left: 10%;
  font-size:50px;
  color: #fff;
}
.container{
  margin-left: -2%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;

}

.example-card1 {
  width: 250px;
  height: 100px;
  color: #fff;
  margin: 10px;
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  margin-left: 10%;
  max-width: 300px;
  background-image: linear-gradient( 135deg, #FFE985 10%, #FA742B 100%);

}
.example-card2{
  width: 250px;
  height: 100px;
  color: #fff;
  margin: 10px;
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  margin-left: 10%;
  max-width: 300px;
  background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);

}
.example-card3{
  width: 250px;
  height: 100px;
  color: #fff;
  margin: 10px;
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  margin-left: 10%;
  max-width: 300px;
  background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);;
  align-items: center;
}

.example-header-image1{
  background-image: url('../../../../assets/images/Trofeo.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}
.example-header-image2{
  background-image: url('../../../../assets/images/Trofeo2.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}
.example-header-image3 {
  background-image: url('../../../../assets/images/Trofeo3.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}
.example-header-image4 {
  background-image: url('../../../../assets/images/avatar/av1.png');
  background-size: cover;
  width: 40px;
  height: 40px;
}
.jugador{
  text-align: center;
  padding-top: 10%;
  padding-left: 10%;
  font-size: 30px;
  line-height:25px;
  color: #fff;
}
.apodo{
  text-align: center;
  padding-left:10%;
  font-size:20px;
  line-height:25px;
  color:#fff
}
.puntaje{
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.tabla{
  padding-left:20%;

}
table {
  width: 80%;
  border-radius: 30px;
  background: linear-gradient(
  135deg,
  rgb(151, 128, 112),
  rgb(151, 128, 112)
);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);


}
th, td {
  color: #fff;
  align-items: center;
}
td{
  width:150px;
  height:50px;
  align-items: center;
}
