
<div class="fondo">
  <div class="banner"></div>
  <br><br>
  <div class="titulo">
    <p>Top Jugadores</p>
  </div>
  <br>
  <div class="container">
    <mat-card class="example-card1">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image1"></div>
        <mat-card-title class="jugador">Sebastian</mat-card-title>
        <mat-card-subtitle class="apodo">sebas34</mat-card-subtitle>
        <mat-card-subtitle class="puntaje">Puntaje: 500 </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="example-card2">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title class="jugador">Alejandro</mat-card-title>
        <mat-card-subtitle class="apodo">aleg90</mat-card-subtitle>
        <mat-card-subtitle class="puntaje">Puntaje: 485 </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="example-card3">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title class="jugador">Valentina</mat-card-title>
        <mat-card-subtitle class="apodo">val105</mat-card-subtitle>
        <mat-card-subtitle class="puntaje">Puntaje: 450 </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <br><br>
  <div class="titulo">
    <p>Otros Jugadores</p>
  </div>
  <br><br>
  <div class="tabla">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="Avatar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><div mat-card-avatar class="example-header-image4"></div> </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="NickName">
        <th mat-header-cell *matHeaderCellDef> Nickname </th>
        <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Nivel">
        <th mat-header-cell *matHeaderCellDef> Nivel </th>
        <td mat-cell *matCellDef="let element"> {{element.nivel}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Puntaje">
        <th mat-header-cell *matHeaderCellDef> Puntaje </th>
        <td mat-cell *matCellDef="let element"> {{element.puntaje}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br><br>
</div>


