
<div class="fondo">
  <div class="box">
    <img class="banner" src="../../../../assets/images/fondos/bannerRanking.png" alt="bannerRanking">
  </div>
  <br><br>
  <div class="titulo">
    <p>Top Jugadores</p>
  </div>
  <br>
  <div class="container">
    <mat-card class="example-card1">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image1"></div>
        <mat-card-title class="jugador">{{ primerEstudiante ? primerEstudiante.nombre: ''}}</mat-card-title>
        <mat-card-subtitle class="apodo">NickName: {{ primerEstudiante ? primerEstudiante.nickName: ''}}</mat-card-subtitle>
        <mat-card-subtitle class="puntaje">Puntaje:{{ primerEstudiante ? primerEstudiante.puntaje: ''}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="example-card2">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title class="jugador">{{segundoEstudiante ? segundoEstudiante.nombre: ''}}</mat-card-title>
        <mat-card-subtitle class="apodo">NickName: {{segundoEstudiante ? segundoEstudiante.nickName: ''}}</mat-card-subtitle>
        <mat-card-subtitle class="puntaje">Puntaje: {{ segundoEstudiante ? segundoEstudiante.puntaje:''}} </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="example-card3">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title class="jugador">{{tercerEstudiante ? tercerEstudiante.nombre:''}}</mat-card-title>
        <mat-card-subtitle class="apodo">NickName: {{ tercerEstudiante ? tercerEstudiante.nickName:''}}</mat-card-subtitle>
        <mat-card-subtitle class="puntaje">Puntaje: {{tercerEstudiante ? tercerEstudiante.puntaje:''}} </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <br><br>
  <div class="titulo">
    <p>Otros Jugadores</p>
  </div>
  <br><br>
  <div class="tabla">

    <table mat-table [dataSource]="dataSource" >



      <ng-container matColumnDef="Posicion">
        <th mat-header-cell *matHeaderCellDef>Posición</th>
        <td mat-cell *matCellDef="let element">{{element.posicion}}</td>
      </ng-container>

      <ng-container matColumnDef="Avatar">
        <th mat-header-cell *matHeaderCellDef>Avatar</th>
        <td mat-cell *matCellDef="let element"><div mat-card-avatar class="imagenMiniatura" style="background-image: url({{element.imagenAvatar}});"></div></td>
      </ng-container>

      <ng-container matColumnDef="NickName">
        <th mat-header-cell *matHeaderCellDef> Nickname </th>
        <td mat-cell *matCellDef="let element"> {{element.nickName}} </td>
      </ng-container>

        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

      <ng-container matColumnDef="Apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
      </ng-container>

      <ng-container matColumnDef="Puntaje">
        <th mat-header-cell *matHeaderCellDef> Puntaje </th>
        <td mat-cell *matCellDef="let element"> {{element.puntaje}} </td>
      </ng-container>

        <ng-container matColumnDef="MonedasAdquiridas">
          <th mat-header-cell *matHeaderCellDef> Monedas Adquiridas </th>
          <td mat-cell *matCellDef="let element"> {{element.monedasObtenidas}} </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br><br>
</div>


