<div class="fondo">

    <div class="texto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quis, dolores praesentium, porro consequuntur necessitatibus quia a neque dignissimos molestias harum et provident doloremque eaque nostrum voluptate voluptatem modi! Libero.</p>
        <div class="boton">
            <button class="botones">
                Resolver
            </button>
            <button class="botones" >
                Atrás
            </button>
    </div>
</div>
