<app-menu (onToggleSideNav)="onToggleSideNav($event)"></app-menu>
<div class="body">
  <br>
  <div class="container">
    <div class="slider">
      <div class="izq"><a type="submit" (click)="pasarIzq()"><mat-icon>keyboard_arrow_left</mat-icon></a></div>
      <mat-card class="tarjeta">
        //TODO: CAMBIAR POR LO QUE DIGA LA BD
        <mat-card-title class="titulo">¿Qué es un algoritmo?</mat-card-title>
        <br>
        <mat-card-content>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/FS9u9cIGf3o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </mat-card-content>
      </mat-card>
      <div class="der"><a type="submit" (click)="pasarDer()"><mat-icon>keyboard_arrow_right</mat-icon></a></div>
      <div class="btn">
        <button mat-button (click)="atras()" class="boton">Atrás</button>
        <button mat-button (click)="reto()" class="boton">Practicar!</button>
      </div>
    </div>
    </div>
</div>

