.fondo {
    background: url(../../../../assets/images/fondos/FondoPerfil1.jpg);
    background-size: cover;
    height: 920px;
    align-items: center;
}
.fondoTarjeta {
  width: 1030px;
  height:400px;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-left: 110px;
  /*Efecto espejo*/
  padding: 48px;
  border-radius: 24px;
  background: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.5),
  rgba(255, 255, 255, 0.5)
);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  overflow: hidden ;
  overflow-y: scroll;


}
.titulo{
  font-size:30px;
  text-align: center;
  color: rgb(209,150,98);
}
.subtitulo{
  font-size:25px;
  text-align: center;
  color: rgb(217,161,84);
}
p{
  font-size: 18px;
  text-align: justify;
  color:rgb(102,71,57);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boton {
  margin: 3px;
  position: center;
  left: 40%;
  line-height: 35px;
  align-items: center;

}
.boton {
  align-items: center;
  max-width: 10em;
  width: 8em;
  font-family: 'Mouse Memoirs';
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgb(217,161,84) ;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 1em;
  font-size: 1.5em;
  margin-left:3.45em;
  color: rgb(253, 253, 253);
}
.botones:hover{
  background-color: rgb(241,231,194);
  color: rgb(217,161,84);
}
