<mat-card class="tarjetaPrincipal">
    <mat-card-content>
        <mat-card-title *ngIf="!reto else editarT">Registrar Reto</mat-card-title>
        <ng-template #editarT>
          <mat-card-title>Actualizar Reto</mat-card-title>
        </ng-template>
        <br>
        <form [formGroup]="form">
            <div class="entradas">
                <div class="campo-entrada">
                    <mat-form-field appearance="fill">
                        <mat-label class="titulos">Nombre</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="nombreReto">
                        <mat-icon matSuffix class="boton">nombre</mat-icon>
                    </mat-form-field>
                </div>
                <div class="campo-entrada">
                    <mat-form-field appearance="fill">
                        <mat-label class="titulos">Descripción</mat-label>
                        <textarea matInput type="textArea" matInput autocomplete="off" formControlName="descripcion"></textarea>
                        <mat-icon matSuffix class="boton">descripcion</mat-icon>
                    </mat-form-field>
                </div>
                <div class="campo-entrada">
                    <mat-form-field appearance="fill">
                        <mat-label class="titulos">Intentos</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="maximoIntentos">
                        <mat-icon matSuffix class="boton">intentos</mat-icon>
                      </mat-form-field>
                </div>
                <div class="campo-entrada">
                  <mat-form-field appearance="fill">
                      <mat-label class="titulos">Monedas</mat-label>
                      <input type="number" matInput autocomplete="off" formControlName="monedas">
                      <mat-icon matSuffix class="boton">local_atm</mat-icon>
                    </mat-form-field>
              </div>
                <div class="campo-entrada">
                    <mat-form-field appearance="fill">
                        <mat-label class="titulos">Misión</mat-label>
                        <mat-select formControlName="idMision">
                            <mat-option *ngFor="let mision of misiones" [value]="mision">
                                {{mision.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="boton">mision</mat-icon>
                    </mat-form-field>
                </div>
                <div class="campo-entrada">
                    <mat-form-field appearance="fill">
                        <mat-label class="titulos">Curso</mat-label>
                        <mat-select formControlName="idCurso" >
                            <mat-option *ngFor="let curso of cursos" [value]="curso">
                                {{curso.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="boton">curso</mat-icon>
                    </mat-form-field>
                </div>
                <div class="campo-entrada">
                  <mat-form-field appearance="fill">
                      <mat-label class="titulos">Estado</mat-label>
                      <mat-select formControlName="idEstado">
                          <mat-option *ngFor="let estado of estados" [value]="estado">
                              {{estado.estado}}
                          </mat-option>
                      </mat-select>
                      <mat-icon matSuffix class="boton">estado</mat-icon>
                  </mat-form-field>
              </div>
                <div class="campo-entrada">
                    <mat-form-field appearance="fill" class="example-form-field">
                        <mat-label class="titulos">Fecha de Inicio</mat-label>
                        <input matInput [matDatepicker]="datepicker" formControlName="fechaInicio">
                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="campo-entrada">
                    <mat-form-field appearance="fill" class="example-form-field">
                        <mat-label class="titulos">Fecha Limite</mat-label>
                        <input matInput [matDatepicker]="datepicker1" formControlName="fechaLimite">
                        <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker1>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="campo-entrada" *ngIf="!reto else editar">
                    <mat-form-field appearance="fill">
                        <mat-label class="titulos">Usuario Creador</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="usuarioCreador">
                        <mat-icon matSuffix class="boton">usuarioCreador</mat-icon>
                    </mat-form-field>
                </div>
                <ng-template #editar>
                <div class="campo-entrada">
                  <mat-form-field appearance="fill">
                      <mat-label class="titulos">Usuario Modificador</mat-label>
                      <input type="text" matInput autocomplete="off" formControlName="usuarioModificador">
                      <mat-icon matSuffix class="boton">usuarioModificador</mat-icon>
                  </mat-form-field>
              </div>
            </ng-template>
                    <div class="boton">
                        <button mat-raised-button class="botones" id="atras" (click)="atras()">Atrás</button>
                        <button mat-raised-button class="botones" id="guardarReto" (click)="guardarReto()" *ngIf="!reto else botonEditar">Crear Reto</button>
                        <ng-template #botonEditar>
                          <button mat-raised-button type="button" id="editar" (click)="actualizar()"  class="botones">Actualizar Reto</button>
                        </ng-template>
                      </div>
                </div>

        </form>
    </mat-card-content>
</mat-card>
