.titulo{
  color:#fff;
  margin-left:40%;
  font-size: 28px;
}
mat-form-field {
  width: 50%;
  color: rgb(85, 183, 232);
  font-size: 18px;
  margin-left: 25%;
}
table {
  table-layout: fixed;
  width: 100%;

}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 60px;
  text-align: center;
  align-items: center;
  word-wrap: break-word;
  font-size:10px;
  line-height: 10px;
  font-family: 'Roboto';
}
