<h1 class="titulo">Retos Disponibles </h1>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input  matInput (keyup)="applyFilter($event)" placeholder="Ingrese el nombre del reto" #input>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row">{{row.nombreReto}}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
      <td mat-cell *matCellDef="let row">{{row.descripcion}}</td>
    </ng-container>

    <ng-container matColumnDef="intentos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No. Intentos</th>
      <td mat-cell *matCellDef="let row">{{row.maximoIntentos}}</td>
    </ng-container>
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha inicio</th>
      <td mat-cell *matCellDef="let row">{{row.fechaInicio}}</td>
    </ng-container>
    <ng-container matColumnDef="fechaLimite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha limite</th>
      <td mat-cell *matCellDef="let row">{{row.fechaLimite}}</td>
    </ng-container>

    <ng-container matColumnDef="monedas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Monedas</th>
      <td mat-cell *matCellDef="let row">{{row.moneda}}</td>
    </ng-container>

    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
      <td mat-cell *matCellDef="let row">{{row.nombreEstado}}</td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index"style="text-align:center">
        <button class="botones" style="color:rgb(19, 12, 59); cursor:pointer" (click)="onEditarReto()" matTooltip="Habilitar Reto">
          <mat-icon>edit</mat-icon>
        </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No existe un reto con el nombre "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5]" aria-label="Seleccione la pagina de retos"></mat-paginator>
</div>
