<mat-card class="tarjetaPrincipal">
    <mat-card-content>
        <mat-card-title>Crear Programa</mat-card-title>
        <br><br>
        <form [formGroup]="form" (ngSubmit)="crearPrograma()">
            <div class="entradas">
                <div class="campo-entrada">
                    <mat-form-field appearance="fill">
                        <mat-label class="titulos">Nombre</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="nombre">
                        <mat-icon matSuffix class="boton">nombre</mat-icon>
                    </mat-form-field>
                </div>
                <div class="campo-entrada">
                    <mat-form-field appearance="fill">
                        <mat-label class="titulos">Usuario Creador</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="usuarioCreador">
                        <mat-icon matSuffix class="boton">usuarioCreador</mat-icon>
                    </mat-form-field>
                </div>
                    <div class="boton">
                        <button mat-raised-button class="botones" (click)="atras()">Atras</button>
                        <button mat-raised-button class="botones" (click)="crearPrograma()">Crear Programa</button>
                    </div>
                </div>

        </form>
    </mat-card-content>
</mat-card>
