<div class="fondo">
  <br>
  <mat-grid-list cols="2" rowHeight="1000px">
      <mat-grid-list cols="6" rowHeight="1:1" class="graficas">
        <mat-grid-tile>
          <h2 class="example-h2">Progreso</h2>
                  <mat-progress-spinner
                      class="example-margin"
                      [mode]="mode"
                      [value]="value">
                  </mat-progress-spinner>
        </mat-grid-tile>
        <mat-grid-tile>
          <h2 class="example-h2">Progreso</h2>
          <mat-progress-spinner
              class="example-margin"
              [mode]="mode"
              [value]="value">
          </mat-progress-spinner>
        </mat-grid-tile>
        <mat-grid-tile>
          <h2 class="example-h2">Progreso</h2>
          <mat-progress-spinner
              class="example-margin"
              [mode]="mode"
              [value]="value">
          </mat-progress-spinner>
        </mat-grid-tile>
      </mat-grid-list>

    <mat-grid-tile>Personaje</mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="tarjeta">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombres</mat-label>
          <input matInput value="Angela">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombres</mat-label>
          <input matInput value="Acosta Ramirez">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="datepicker">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="second" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Correo</mat-label>
          //TODO:REVISAR
          <input matInput value="amacostar@correo.usbcali.edu.co">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Genero</mat-label>
          <mat-select>
            <mat-option value="one">Femenino</mat-option>
            <mat-option value="two">Masculino</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          //TODO: LLAMAR SERVICIO DE LA BASE DE DATOS
          <mat-label>Programa</mat-label>
          <mat-select>
            <mat-option value="one">Ingenieria de Sistemas</mat-option>
            <mat-option value="two">Ingenieria Multimedia</mat-option>
            <mat-option value="two">Ingenieria Electronica</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Semestre</mat-label>
          <input matInput type="number" placeholder="1" min="1" max="10">
        </mat-form-field>
        <div>
          <button class="botones" mat-raised-button >Editar</button>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
