
.fondo {
  background-image: url(src\assets\images\fondos\FondoPerfil1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1250px;
  width: auto;
}
.tarjet1{
  margin: 0;
  padding: 0;
}
.tarjet2{
  margin: 0;
  padding: 0;
  margin-top: 200px;
}
.titulo{
  color: #fff;
  font-size:30px;
}
.fondoTarjeta {
  width: auto;
  height: 1000px;
  margin-right: 30px;
  margin-left: 110px;
  font-family: Mouse Memoirs;
  text-align: center;
  /*Efecto espejo*/
  padding: 48px;
  border-radius: 24px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.tarjetaFoto{
  width: 1050px;
  height: 30px;
  margin-top: -120px;
  margin-bottom: 280px;
  margin-right: 1px;
  margin-left: 40px;
  font-family: Mouse Memoirs;
  text-align: center;
  padding: 48px;
  border-radius: 24px;
  background-color: rgb(30,195,213);
  color:#fff;
  font-size:30px;
}
.imagen3d1{
  position: absolute;
  left: 75%;
  top: -18px;
  transform: translateX(-50%);
  height: 140px;
  transform: rotate(10deg);
}
.titulo1{
  font-size: 30px;
  line-height: 5px;
}
.subtituloTarjetaFoto{
  color:#fff;
  font-size:40px;
  font-family: 'Roboto', sans-serif;
}
.titulo2{
  font-size: 40px;
  line-height: 0.1px;
  color: #fff;
}
.imagen3d2{

  position: absolute;
  left: 20%;
  top: -20px;
  transform: translateX(-50%);
  height: 150px;

}
.tarjetaProgreso{
  width: 450px;
  height:65px;
  margin-top: -1000px;
  margin-right: -200px;
  margin-left: -200px;
  padding-left: 45px;
  font-family: Mouse Memoirs;
  text-align: center;
  border-radius: 14px;
  background-color: rgb(74,155,237);
  color:#fff;
  font-size:40px;

}
.tarjetaDatos{
  width: 430px;
  height:30px;
  margin-top: 400px;
  margin-bottom: 450px;
  padding-bottom: 400px;
  margin-right: 1px;
  margin-left: -500px;
  font-family: Mouse Memoirs;
  text-align: center;
  border-radius: 14px;
  background-color:rgb(101,127,228) ;
  color:#fff;
  font-size:40px;
}

.botones{
  color: rgb(254,254,231);
  border-radius: 20px;
  background-color: rgb(85, 183, 232);
  text-align: center !important;
  align-items: center !important;
  margin: 0 10px;
  display: inline-block;
  width:130px;
  height:40px;
  font-size: 20px;

}

.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: 0px 2px 1px -1px rgba(116, 115, 115, 0.466),
    0px 1px 1px 0px rgba(116, 115, 115, 0.466), 0px 1px 3px 0px rgb(116, 115, 115, 0.466);
}
.mat-card.mat-card-flat:not([class*='mat-elevation-z']) {
  box-shadow: 0px 0px 0px 0px rgb(116, 115, 115, 0.466),
    0px 0px 0px 0px rgb(116, 115, 115, 0.466), 0px 0px 0px 0px rgb(116, 115, 115, 0.466);
}
