
.fondo {
  background: rgba(172, 153, 139, 0.87);
  background-repeat: no-repeat;
  background-size: cover;
  padding:20px;
  height: 1250px;
  width: auto;
}
.tarjetaGraficas{
  width: 480px;
  height: 50px;
  margin-bottom:10px;
  margin-right: 30px;
  margin-left: 150px;
  /*Efecto espejo*/
  padding: 48px;
  border-radius: 24px;
  background: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.302),
  rgba(255, 255, 255, 0.244)
  );
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  font-size: 30px;
  color:rgb(6,43,60);
  text-align: center;
}
.graficas{
  margin-left: 150px;
}
.tarjeta{
  width: 850px;
  height: 550px;
  margin-top: -350px;
  margin-right: 30px;
  margin-left: 200px;
  /*Efecto espejo*/
  padding: 48px;
  border-radius: 24px;
  background: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.514),
  rgba(255, 255, 255, 0.514)
);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
font-size: 30px;
color:rgb(6,43,60);
text-align: center;
}
.fondoTarjeta {
  width: 1000px;
  height: 700px;
  margin-right: -200px;
  margin-left: 125px;
  font-family: Mouse Memoirs;
  text-align: center;
  align-items: center;
  /*Efecto espejo*/
  padding: 48px;
  border-radius: 24px;
  background: linear-gradient(
    135deg,
    rgba(247, 247, 247, 0.484),
    rgba(247, 247, 247, 0.243)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.texto{
    align-items: center;
    text-align: center;
    left: 70%;
    margin-left: 300px;
}
.titulo1{
    margin-top: -120px;
    font-size: 40px;
    line-height: 5px;
    color: #fff;
}
.subtituloTarjetaFoto{
  color:#fff;
  font-size:40px;
  line-height: 40px;
}
.titulo2{

  font-size: 30px;
  line-height: 0.1px;
  color: rgba(255, 255, 255, 0.712);
}
.imagen3d2{

  position: absolute;
  left: 40%;
  top: 10px;
  transform: translateX(-50%);
  height: 150px;

}
.tarjetaDatos{
  width: 430px;
  height:30px;
  margin-top: 400px;
  margin-bottom: 20px;
  margin-right: 1px;
  margin-left: -80px;
  font-family: Mouse Memoirs;
  text-align: center;
  color:#fff;
  font-size:40px;
}
.example-full-width {
  width: 100%;
  font-size: 15px;
}

td {
  padding-right: 18px;
}
.botones{
  color: rgb(254,254,231);
  border-radius: 20px;
  background-color: rgb(85, 183, 232);
  text-align: center !important;
  align-items: center !important;
  margin: 0 10px;
  display: inline-block;
  width:130px;
  height:40px;
  font-size: 20px;

}
.progreso{
  height: 130px;
  margin-top: -500px;
  margin-left: -100px;


}
.example-h2 {
  margin: 10px;
  color: #fff;
  position: absolute;
  width:80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
  border-color: rgba(228, 226, 231, 0.534);
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
}

.example-margin {
  margin: 0 10px;
  color: #fff;

}
.example-h22 {
  margin: 10px;
  color: #fff;
  position: absolute;
  width:80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
  border-color: rgba(228, 226, 231, 0.534);
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
}
.example-margin1 {
  margin: 0 15px;
  margin-top: -10px;
  margin-left: 10px;
  color: #fff;

}

.mat-spinner circle {
  stroke: rgb(216, 213, 213);
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(255, 255, 255);
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: rgb(255, 255, 255);
}

.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: 0px 2px 1px -1px rgba(116, 115, 115, 0.466),
    0px 1px 1px 0px rgba(116, 115, 115, 0.466), 0px 1px 3px 0px rgb(116, 115, 115, 0.466);
}
.mat-card.mat-card-flat:not([class*='mat-elevation-z']) {
  box-shadow: 0px 0px 0px 0px rgb(116, 115, 115, 0.466),
    0px 0px 0px 0px rgb(116, 115, 115, 0.466), 0px 0px 0px 0px rgb(116, 115, 115, 0.466);
}
