<mat-card class="tarjetaPrincipal">
    <mat-card-content>
        <mat-card-title>Crear Avatar</mat-card-title>
        <br><br>
        <form [formGroup]="form" (ngSubmit)="guardarAvatar()">
            <div class="entradas">
                <div class="campo-entrada">
                    <mat-form-field appearance="fill">
                        <mat-label class="titulos">Nombre</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="nombre" id="nombre">
                        <mat-icon matSuffix class="boton">nombre</mat-icon>
                    </mat-form-field>
                </div>
                <div class="campo-entrada">
                    <mat-form-field appearance="fill">
                        <mat-label class="titulos">Imagen Avatar</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="imagenAvatar" id="imagenAvatar">
                        <mat-icon matSuffix class="boton">descripcion</mat-icon>
                    </mat-form-field>
                </div>
                  <div class="campo-entrada" *ngIf="!avatar else editar">
                    <mat-form-field appearance="fill">
                      <mat-label class="titulos">Usuario Creador</mat-label>
                      <input type="text" matInput autocomplete="off" formControlName="usuarioCreador" id="usuarioCreador">
                      <mat-icon matSuffix class="boton">usuarioCreador</mat-icon>
                    </mat-form-field>
                    </div>
                  <ng-template #editar>
                    <div class="campo-entrada">
                      <mat-form-field appearance="fill">
                          <mat-label class="titulos">Usuario Modificador</mat-label>
                          <input type="text" matInput autocomplete="off" formControlName="usuarioModificador" id="usuarioModificador">
                          <mat-icon matSuffix class="boton">usuarioModificador</mat-icon>
                      </mat-form-field>
                    </div>
                  </ng-template>

                    <div class="boton">
                        <button mat-raised-button class="botones"  type="button" id="atras"(click)="atras()">Atras</button>
                        <button mat-raised-button class="botones" type="button" id="guardarAvatar" (click)="guardarAvatar()" *ngIf="!avatar else botonEditar">Crear Avatar</button>
                        <ng-template #botonEditar>
                          <button mat-raised-button type="button" id="editar" (click)="actualizar()"  class="botones">Guardar Avatar</button>
                        </ng-template>
                    </div>
                </div>

        </form>
    </mat-card-content>
</mat-card>
