<div class="body">
  <div class="login">
    <mat-card class="fondoTarjeta">
      <mat-card-content>
        <img src="../../../../assets/images/LogoV1.png" alt="app logo" class="logo">
        <br>
        <mat-spinner class="spinner" *ngIf="loading" ></mat-spinner>
            <label class="text font1"> Ingrese su Email para recuperar la contraseña</label>
              <mat-form-field class="ancho" appearance="fill">
                <mat-label class="fuente">Email</mat-label>
                <input type= "email" matInput autocomplete="off" class="form-control" [formControl]="userEmail">
              </mat-form-field>
              <button type="submit" (click)="recuperarContra()" class="botones">Recuperar</button>
              <button type="submit" (click)="atras()" class="botones">Atrás</button>

      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
