.body
{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  line-height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.login{
  width: 40%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.fondoTarjeta{
  max-width: 435px;
  margin-right: 100px;
  font-family: Mouse Memoirs;
}

.ancho{
  width: 20%;
}
.ancho1{
  max-width: 10em;
  width: 10em;
  font-family: Mouse Memoirs;
  border-radius: 10px;
  margin-top: 30px;
  background-color: rgb(217,161,84);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 1em;
  font-size: 1.5em;
  margin-left: 5.45em;
  text-align: center;
  color: rgb(241,231,194);
}

.ancho1:hover{
  background-color: rgb(241,231,194);
  color: rgb(217,161,84);
}

.entradauc1 {
  margin-left: 50px;
  width: 350px;
  font-family: Mouse Memoirs;
  font-size: 20px;
}
.entradauc2 {
  margin-left: 50px;
  width: 350px;
  font-family: Mouse Memoirs;
  font-size: 20px;
}
.cambiar-contra{
  justify-content: center;
  font-family: Mouse Memoirs;
  font-size: 15px;
  color: white;
}
.vinculos-contra{
  font-family: Mouse Memoirs;
  font-size: 20px;
  color: rgb(241,231,194);
  top: 20px;
  bottom: 20px;
  margin-left: -7px;

}
.vinculos-contra:hover{

  color: rgb(117,76,36);

}
.button{
  height: 50px;
  background-color:rgb(115, 112, 121);
  color: rgb(241,231,194);
}
.spinner{
  margin: 0 auto;
}
.centrar{
  text-align: center;
  color: black;
}
.email {
 color: rgb(241,231,194);
 font-family: Mouse Memoirs;
}
.boton {
  color: rgb(217,161,84);
}
.vinculos{
  font-family: Mouse Memoirs;
  font-size: 20px;
  color: rgb(241,231,194);
 margin-top: 100px;
 bottom: 20px;
  margin-left: 125px;
}
.vinculos:hover{
  color: rgb(217,161,84);
}

.otrac {

  display: flex;
   margin-top: 5px;
   margin-bottom: 10px;
   margin-left: 65px;
   width: auto;
   height: auto;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .example-margin {
    margin: 0 10px;
  }
  .google{
    width: 55px;
    height: 55px;
    background: url(../../../../../assets/images/google.png);
    background-size: contain;
  }
  .google:hover{
    width: 55px;
    height: 55px;
    background: url(../../../../../assets/images/google2.png);
    background-size: contain;
  }
  .facebook{
    width: 55px;
    height: 55px;
    background: url(../../../../../assets/images/facebook.png);
    background-size: contain;
  }
  .facebook:hover{
    width: 55px;
    height: 55px;
    background: url(../../../../../assets/images/facebook2.png);
    background-size: contain;
  }

@media screen and (max-width: 600px) {
  .fondoTarjeta{
    width: 20em;
    margin-left: 20px;
    font-family: 'Mouse Memoirs';
    
  }
  
  .botones {
    width: 6em;
    font-family: 'Mouse Memoirs';
    border-radius: 10px;
    background-color: rgb(217,161,84);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-content: center;
    margin-left: 81px;
    color: rgb(241,231,194);
    margin-left: 80px;
}
  .botones:hover{
    background-color: rgb(241,231,194);
    color: rgb(217,161,84);

  }
 
.entradauc1 {
  margin-left: 0px;
  margin-right: 50px;
  width: 300px;
  font-family: 'Mouse Memoirs';
  font-size: 20px;
}
.entradauc2 {
  margin-left: 0px;
  margin-right: 50px;
  width: 300px;
  font-family: 'Mouse Memoirs';
  font-size: 20px;
}

.otrac {
  padding-left: 1px;
  display: flex;
  margin-top: 4px;
  margin-bottom: 1px;
  margin-left: 49px;
 }
 .vinculos{
  font-family: Mouse Memoirs;
  font-size: 20px;
  color: rgb(241,231,194);
 margin-top: 100px;
 bottom: 20px;
  margin-left: 70px;
}
.ancho1{
  max-width: 10em;
  width: 10em;
  font-family: Mouse Memoirs;
  border-radius: 10px;
  margin-top: 30px;
  background-color: rgb(217,161,84);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 1em;
  font-size: 1.5em;
  margin-left: 2.45em;
  text-align: center;
  color: rgb(241,231,194);
}
}
/*boton de check*/




