
<mat-spinner class="spinner" *ngIf="loading"></mat-spinner>


  <div class="registrar">
    <form *ngIf="!loading" [formGroup]="form" (ngsubmit)="registrarse()">
      <div class="fondoTarjeta">
        <mat-form-field appearance="fill" class="entradauc1">
          <mat-label>Correo electr&oacute;nico</mat-label>
          <input matInput autocomplete="off" formControlName="usuario">
        </mat-form-field>
        <mat-form-field appearance="fill" class="entradauc2">
          <mat-label>Contrase&ntilde;a</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="boton">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      <div class="terminosCon">
        <a target="_window" class="vinculosT" (click)="terminosCondiciones()" style="cursor: pointer;">
          <mat-checkbox class="vinculosT" #checkboxExterno [disabled]="true"></mat-checkbox>
          T&eacute;rminos y Condiciones
        </a>
      </div>
      <div *ngIf="checkboxExterno.checked || terminos" style="top: 100px">
      <button class="ancho1" mat-raised-button (click)="registrarse()"> Crear Cuenta </button>
    </div>
    <div *ngIf="!checkboxExterno.checked && !terminos" style="top: 100px">
      <button class="ancho1" mat-raised-button (click)="errorTerminos()"> Crear Cuenta </button>
    </div>
    </div>
    <br>
      <div class="otrac">
        <a type="submit" (click)="IngresarConGoogle()" class="ancho otrac google"></a>
        <a type="submit" (click)="IngresarConFacebook()" class="ancho otrac facebook"></a>
      </div>
      <!--<u class="cambiar-contra" ><a href="/auth/registro">Registrarse</a></u>-->
      <div class="centrar">
        <u class="cambiar-contra"
          ><a class="vinculos-contra" style="right: 20px" href="/auth/login"
            >¿Ya tiene una cuenta?</a
          ></u
        >
      </div>
    </form>
  </div>

