
.spinner{
  margin: 0 auto;
  color:#31B2C2;

}
.fondoTarjeta{
  max-width: 435px;
  font-family: Mouse Memoirs;
  padding: 1em;
  width: 100%;
  border-radius: 15px;
  background: rgba(151, 116, 116, 0);
}
.mat-form-field{
  size: 12px;
}
.entradauc1 {
  margin-left: 10px;
  margin-right: 50px;
  width: 320px;
  font-family: Mouse Memoirs;
  font-size: 20px;
  color:rgb(235, 227, 215);
}
.mat-label{
  color: rgb(255, 255, 255);
}
.entradauc2 {
  margin-left: 10px;
  margin-right: 50px;
  width: 320px;
  font-family: Mouse Memoirs;
  font-size: 20px;
  color:rgb(235, 227, 215);
}
.boton {
  padding-right:10px;
  top: 35px;
  color: rgb(255, 255, 255);
}
.terminosCon{
  margin-left: 80px;

}
/* .vinculosT{
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: justify;
} */
.vinculosT{

  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: justify;
}
.vinculosT a{
  margin-left: 10px;

}

.vinculosT mat-checkbox{
  margin-right: 20px;
 
}
.vinculos{
  color: rgb(255, 255, 255);
  text-align: justify;
  font-family: 'Mouse Memoirs' ;
  margin-top: 20px;
  margin-left: 110px;
  font-size: 20px;
  cursor: pointer;

}
.vinculos:hover{
  color: #31B2C2;
}
.ancho1{
  max-width: 10em;
  width: 10em;
  font-family: Mouse Memoirs;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #31B2C2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 1em;
  font-size: 1.5em;
  margin-left: 3.45em;
  text-align: center;
  color: #ffffff;
}
.ancho1:hover{
  background-color: rgb(255, 255, 255);
  color: #31B2C2;
}
.otrac {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 55px;
  width: auto;
  height: auto;
}
  .google{
    width: 55px;
    height: 55px;
    background: url(../../../../../assets/images/google.png);
    background-size: contain;
  }
  .google:hover{
    width: 55px;
    height: 55px;
    background: url(../../../../../assets/images/google2.png);
    background-size: contain;
  }
  .facebook{
    width: 55px;
    height: 55px;
    background: url(../../../../../assets/images/facebook.png);
    background-size: contain;
  }
  .facebook:hover{
    width: 55px;
    height: 55px;
    background: url(../../../../../assets/images/facebook2.png);
    background-size: contain;
  }


  .centrar{
    text-align: center;
    color: black;
  }

  .cambiar-contra{
    justify-content: center;
    font-family: Mouse Memoirs;
    font-size: 15px;
    color: white;
  }
.vinculos-contra{
  font-family: Mouse Memoirs;
  font-size: 20px;
  color: rgb(255, 255, 255);
  top: 20px;
  bottom: 20px;
  margin-left: 40px;

}
.vinculos-contra:hover{
  color: #31B2C2;
}

---------------------

.button{
  height: 50px;
  background-color:rgb(115, 112, 121);
  color: rgb(255, 255, 255);
}

.email {
 color: rgb(255, 255, 255);
 font-family: Mouse Memoirs;
}

/* @media screen and (max-width: 600px) {
  .registrar {
    padding: 20px;
  }
  .fondoTarjeta {
    width: 100%;
  }
  .entradauc1,
  .entradauc2 {
    width: 100%;
  }
} */



@media screen and (max-width: 750px) {
  .fondoTarjeta{
    width: 20em;
    margin-left: 20px;
    font-family: 'Mouse Memoirs';

  }

  .botones {
    width: 6em;
    font-family: 'Mouse Memoirs';
    border-radius: 10px;
    background-color: #31B2C2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-content: center;
    margin-left: 81px;
    color: rgb(255, 255, 255);
    margin-left: 40px;
}
  .botones:hover{
    background-color: rgb(255, 255, 255);
    color: #31B2C2;

  }

.entradauc1 {
  margin-left: -20px;
  margin-right: 5px;
  width: 250px;
  font-family: 'Mouse Memoirs';
  font-size: 20px;
}
.entradauc2 {
  margin-left: -20px;
  margin-right: 5px;
  width: 250px;
  font-family: 'Mouse Memoirs';
  font-size: 20px;
}

.otrac {
  padding-left: 1px;
  display: flex;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 33px;
 }
 .vinculos{
  font-family: Mouse Memoirs;
  font-size: 20px;
  color: rgb(255, 255, 255);
 margin-top: 100px;
 bottom: 20px;
  margin-left: 40px;
}
.ancho1{
  max-width: 10em;
  width: 10em;
  font-family: Mouse Memoirs;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #31B2C2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 1em;
  font-size: 1.5em;
  margin-left: 0.2em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.vinculos-contra {
  margin-top: 10px;
  text-align: center;
  margin-left: 0px;
}
.vinculosT{

  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-left: -60px;
}
}
/*boton de check*/
