

    
    
      <div class="contentup" fxFlex="50">
        <mat-card class="tarjetaPeq">
          <mat-card-header>
            <mat-card-title>Cantidad de Usuarios Registrados</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <!--Aqui va el dato-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="tarjetaPeq">
          <mat-card-header>
            <mat-card-title>Cantidad de Retos Registrados</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
             <!--Aqui va el dato-->
          </mat-card-actions>
        </mat-card>
       
        <mat-card class="tarjetaPeq ">
          <mat-card-header>
            <mat-card-title>Cantidad de Logros Registrados</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
             <!--Aqui va el dato-->
          </mat-card-actions>
        </mat-card>
      </div>
    
 
      <div class="contentdown" fxFlex="50">
        <mat-card class="tarjetaGraficos">
          <mat-card-header>
            <mat-card-title>Graficos</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <!--Aqui va la grafica-->
          </mat-card-actions>
        </mat-card>
      
 
    
      
        <mat-card class="tarjetaGraficos">
          <mat-card-header>
            <mat-card-title>Graficos</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <!--Aqui va la grafica-->
          </mat-card-actions>
        </mat-card>
      </div>
 
 