
  .contentup{
  display: grid;
  grid-template-columns: 480px 520px 1px;
  padding: 80px;
  background-color: #2e2e2e;
  }
  .dashboard{
    width: 80%;
    margin-left: 20%;
    align-items: center;
  }
  .title{
    font-size: 35px;
    color: #ffffff;
  }

