
  .contentup{

  height: 52.2em;
  display: grid;
  grid-template-columns: 480px 520px 1px;
  padding: 80px;
  background-color: rgb(52,52,52);
  margin-left: 10em;
  }
  .dashboard{
    width: 100%;
    margin-left: 12%;
    align-items: center;
  }
  .title{
    font-size: 35px;
    text-align: center;
    align-items: center;
    color: #ffffff;
  }

