
<mat-grid-list cols="2" rowHeight="380px">
    <mat-grid-tile>
      <div class="content" fxFlex="50">
        <mat-card class="tarjetaObjetos">
          <mat-card-header>
            <mat-card-title>IMAGEN DE LANGUAGE CONQUERS</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
           <!--Aqui va el dato-->
           <h1>{{cantidadP}}</h1>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="content" fxFlex="50">
        <mat-card class="tarjetaPeq">
          <mat-card-header>
            <mat-card-title>Cantidad de Usuarios Registrados</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <!--Aqui va el dato-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="tarjetaPeq">
          <mat-card-header>
            <mat-card-title>Cantidad de Retos Registrados</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
             <!--Aqui va el dato-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="tarjetaPeq">
          <mat-card-header>
            <mat-card-title>Cantidad de Usuarios que ingresaron hoy</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
             <!--Aqui va el dato-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="tarjetaPeq">
          <mat-card-header>
            <mat-card-title>Cantidad de Logros Registrados</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
             <!--Aqui va el dato-->
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="content" fxFlex="50">
        <mat-card class="tarjetaGraficos">
          <mat-card-header>
            <mat-card-title>Graficos</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <!--Aqui va la grafica-->
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="content" fxFlex="50">
        <mat-card class="tarjetaGraficos">
          <mat-card-header>
            <mat-card-title>Graficos</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <!--Aqui va la grafica-->
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
