<app-slider-principal></app-slider-principal>
<div class="body">
  <br> <br>
  <mat-card fxFlex="50" class="tarjetaPeq">
    <img class="imagen3d1" src="./assets/images/cofre.png">
    <mat-card-title class="titulo1">Hola {{estudiante.nombre}} {{estudiante.apellido}}</mat-card-title>
    <br>
    <mat-card-subtitle class="tituloTarjetaPeq">Bienvenido de nuevo a Language Conquers</mat-card-subtitle>
    <div mat-card-avatar class="imagen3d2"></div>
  </mat-card>

  <div class="fondoTarjeta">
    <div class="estudiante">
      <mat-card class="cursos" *ngFor="let tarjetas of cursosCard" [routerLink]="['/curso/mapa/1']">
        <img mat-card-image src="./assets/images/fondos/FondoCurso1.jpg">
          <mat-card-subtitle class="titulo">Facultad de Ingenieria</mat-card-subtitle>
          <a class="vinculos-contra" [routerLink]="['/curso/mapa/1']">{{tarjetas.nombre}}</a>
      </mat-card>
    </div>
  </div>
</div>
