.body {

  background-color: #2E2E2E;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  align-items: center;
}
.titulo1 {
  font-size: 40px;
  line-height: 5px;
  margin-left: -1600px;
  
  color: black;
}
.tituloTarjetaPeq {
  font: size 40px;
  font-family: 'Roboto', sans-serif;
  margin-left: -1420px;
  color: black;
}
.tarjetaPeq {
  width: 1640px;
  height: 10px;
  left: 103px;


  /*Efecto espejo*/
  padding: 48px;
  border-radius: 24px;
  background: #97979799;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  font-size: 30px;
  color: rgb(6, 43, 60);
  text-align: center;
  border-radius: 20px;
}


.imagen3d1 {
  position: absolute;
  left: 75%;
  top: -20px;
  transform: translateX(-50%);
  height: 130px;
  transform: rotate(10deg);
}


.imagen3d2 {
  background-image: url(../../../../assets/images/fondos/portadaCurso.png);
  background-size: cover;
  position: absolute;
  left: 20%;
  top: -30px;
  transform: translateX(-50%);
  height: 150px;
  width: 150px;

}



.fondoTarjeta {
  width: 1030px;
  height: 200px;
  margin-right: 80px;
  margin-left: 110px;
  padding: 48px;
  margin-top: -20px;


}

.estudiante {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.estudiante>img {
  margin-left: 640px;

}

.estudiante>h2 {
  margin-left: 640px;

}

.estudiante>button {
  margin-left: 640px;
}

.cursos {
  max-width: 180px;
  max-height: 200px;
  margin: 10px;
  line-height: 0.2;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.832);
  box-shadow: 0 10px 42px 0 rgba(0, 0, 0, 0.452);
  cursor: pointer;

}

.titulo {
  color: black;
}

.vinculos-contra {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
  top: 20px;
  bottom: 20px;
  margin-left: -7px;
}


.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: 0px 2px 1px -1px rgba(116, 115, 115, 0.466),
    0px 1px 1px 0px rgba(116, 115, 115, 0.466), 0px 1px 3px 0px rgb(116, 115, 115, 0.466);
}

.mat-card.mat-card-flat:not([class*='mat-elevation-z']) {
  box-shadow: 0px 0px 0px 0px rgb(116, 115, 115, 0.466),
    0px 0px 0px 0px rgb(116, 115, 115, 0.466), 0px 0px 0px 0px rgb(116, 115, 115, 0.466);
}

@media screen and (max-width: 700px) {
  .body {
    background-image: url(../../../../assets/images/fondos/portadaCurso.png);
    background-size: cover;
    height: 660px;

  }

  .estudiante>img {
    margin-left: 80px;

  }

  .estudiante>h2 {
    margin-left: 80px;
  }

  .estudiante>button {
    margin-left: 80px;
  }

  .tarjetaPeq {
    width: 306px;
    height: 80px;
    margin-right: 0px;
    margin-left: -22px;
    /*Efecto espejo*/
    padding: 0px;
    border-radius: 24px;
    background: linear-gradient(135deg,
        rgba(255, 255, 255, 0.514),
        rgba(255, 255, 255, 0.514));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    font-size: 20px;
    color: rgb(6, 43, 60);
    text-align: center;
  }

  .imagen3d1 {
    position: absolute;
    left: 0%;
    top: 0px;
    transform: translateX(-50%);
    height: 0px;
    transform: rotate(10deg);
  }

  .imagen3d2 {
    background-image: url(../../../../assets/images/fondos/portadaCurso.png);
    background-size: cover;
    position: absolute;
    left: 0%;
    top: 0px;
    transform: translateX(-50%);
    height: 0px;
    width: 0px;

  }
  .titulo1 {
    font-size: 40px;
    line-height: 5px;
    margin-left: -16px;
    
    color: black;
  }
  .tituloTarjetaPeq {
    font: size 40px;
    font-family: 'Roboto', sans-serif;
    margin-left: -14px;
    color: black;
  }

}