<div class="body">
  <br> <br>
  <mat-card class="tarjetaPeq">
    <img class="imagen3d1" src="./assets/images/cofre.png">
    <mat-card-title class="titulo1">Hola, {{estudiante.nombre}} {{estudiante.apellido}}</mat-card-title>
    <br>
    <mat-card-subtitle class="tituloTarjetaPeq">Bienvenido de nuevo a Language Conquers</mat-card-subtitle>
    <img class="imagen3d2" src="assets/images/avatar/Avatar-2.png">
  </mat-card>
  <br><br>
  <div class="fondoTarjeta">
    <div class="estudiante">
      <mat-card class="cursos">
        <img mat-card-image src="./assets/images/fondos/FondoCurso1.jpg">
          <mat-card-subtitle class="titulo">Facultad de Ingenieria</mat-card-subtitle>
          <a class="vinculos-contra" href="/curso/mapa:{{cursos}}">Fundamentos de Programación</a>
      </mat-card>
    </div>
  </div>
</div>
