<div class="container">
    <div>
      <p>
        <mat-toolbar class="menu">
          <span class="example-spacer"></span>
          <button mat-icon-button routerLink="/" class="boton">
            <mat-icon>account_circle</mat-icon>
            Administrador
          </button>
          <button  mat-icon-button routerLink= "/" class="boton">
            <mat-icon class="icono">logout</mat-icon>
          </button>

        </mat-toolbar>
      </p>
    </div>
    <mat-drawer-container>
      <mat-drawer mode="side" opened class="sidenav">
        <div class="logo">
          <a href="" class="logo-mini">
            <div class="logo-img">
              <img src="./assets/images/LogoV1.png" alt="imagen del logo">
            </div>
          </a>
        </div>
        <br><br><br>
        <button mat-button class="botones" (click)="irUsuarios()">Usuarios</button>
        <button mat-button class="botones" (click)="irReto()">Reto</button>
        <button mat-button class="botones" (click)="irMisiones()">Misiones</button>
        <button mat-button class="botones" (click)="irNivelMision()">Nivel Misión</button>
        <button mat-button class="botones" (click)="irTipoMision()">Tipo Misión</button>
        <button mat-button class="botones" (click)="irLogros()">Logros</button>
        <button mat-button class="botones" (click)="irArticulos()">Articulos</button>
        <button mat-button class="botones" (click)="irCategorias()">Categorias</button>
        <button mat-button class="botones" (click)="irAvatares()">Avatares</button>
        <button mat-button class="botones" (click)="irRoles()">Roles</button>
        <button mat-button class="botones" (click)="irMonedas()">Monedas</button>
        <button mat-button class="botones" (click)="irEstados()">Estados</button>
        <button mat-button class="botones" (click)="irPrograma()">Programa</button>
        <button mat-button class="botones" (click)="irCursos()">Cursos</button>
      </mat-drawer>
      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
<app-footer></app-footer>
