<div class="body">
  <div class="banner"></div>
  <div class="container">
    <div class="slider">
    <div class="tarjetasPeq">
      <mat-card class="cardPeq">
        <img mat-card-image class="logros2" src="../assets/images/logros/LogroConquistador.png">
        <br>
        <mat-card-content>
          <h1 class="nombreLogro2">Conquistador</h1>
          <p>Completar un reto con el minimo de tiempo del reto.</p>
        </mat-card-content>
    </mat-card>
   <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/LogroCompromiso.png" style="filter: grayscale(100%);">
      <br>
      <mat-card-content>
      <h1 class="nombreLogro2">Comprometido</h1>
      <p>Completar un reto el fin de semana.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/LogroPensamientoLogico.png" >
      <br>
      <mat-card-content>
      <h1 class="nombreLogro2">Pensamiento Logico</h1>
      <p>Completar un reto al primer intento con la máxima puntuación.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/LogroSuperVeloz.png">
      <br>
      <mat-card-content>
      <h1 class="nombreLogro2">Superveloz</h1>
      <p>Completar un reto con el minimo de tiempo en el reto.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/LogroGanador.png" style="filter: grayscale(100%);">
      <br>
      <mat-card-content>
      <h1 class="nombreLogro2">Ganador</h1>
      <p>Obtener el primer lugar en el ranking del curso.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/LogroPerfeccinista.png">
      <br>
      <mat-card-content>
      <h1 class="nombreLogro2">Perfeccionista</h1>
      <p>Completar un reto con la máxima puntuación.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/LogroPrimerAtuendo.png" style="filter: grayscale(100%);">
      <br>
      <mat-card-content>
      <h1 class="nombreLogro2">Primer Atuendo</h1>
      <p>Modificar el avatar por primera vez.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/LogroImparable.png">
      <br>
      <mat-card-content>
      <h1 class="nombreLogro2">Imparable</h1>
      <p>Completar tres misiones en 24 Horas.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/LogrosEstudioso.png"style="filter: grayscale(100%);">
      <br>
      <mat-card-content>
      <h1 class="nombreLogro2">Estudioso</h1>
      <p>Completar tres misiones en 24 Horas.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/LogrosAhorrador.png">
      <br>
      <mat-card-content>
      <h1 class="nombreLogro2">Ahorrador</h1>
      <p>Obtener las primeras 500 monedas.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/LogroComprador.png" style="filter: grayscale(100%);">
      <br>
      <mat-card-content>
      <h1 class="nombreLogro2">Comprador</h1>
      <p>Realizar la primera compra en la tienda.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/LogroSuperviviente.png" style="filter: grayscale(100%);">
      <br>
      <mat-card-content>
      <h1 class="nombreLogro2">Superviviente</h1>
      <p>Cumplir con los tres primeros retos.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
<br><br>
