<div class="body">
  <div class="banner"></div>
  <br><br>
  <div class="container">
    <h2 class="categoria-text">Categoria de logros</h2>
    <div class="slider">
      <div class="izq"><a type="submit" (click)="pasarIzq()"><mat-icon>keyboard_arrow_left</mat-icon></a></div>
      <mat-card class="card">
        <mat-card-content>
         <img mat-card-image class="logros" src="../assets/images/logros/logro1.png"><p class="nombreLogro">Compromiso</p>
        </mat-card-content>
      </mat-card>
     <mat-card class="card">
        <mat-card-content>
          <img mat-card-image class="logros" src="../assets/images/logros/logroSinDesbloquear.png"><p class="nombreLogro">Pensamiento Logico</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="card">
        <mat-card-content>
          <img mat-card-image class="logros" src="../assets/images/logros/logroSinDesbloquear.png"><p class="nombreLogro">Rapidez</p>
        </mat-card-content>
      </mat-card>
      <div class="der"><a type="submit" (click)="pasarDer()"><mat-icon>keyboard_arrow_right</mat-icon></a></div>
    </div>
    <br><br>
    <h2 class="categoria-text">Categoria de logros</h2>
    <div class="tarjetasPeq">
      <div class="izq"><a type="submit" (click)="pasarIzq()"><mat-icon>keyboard_arrow_left</mat-icon></a></div>
      <mat-card class="cardPeq">
        <img mat-card-image class="logros2" src="../assets/images/logros/logro2.png">
        <br>
        <mat-card-content>
          <p class="nombreLogro2">Visionario</p>
        </mat-card-content>
    </mat-card>
   <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/logro2Desbloqueado.png">
      <br>
      <mat-card-content>
      <p class="nombreLogro2">Visionario</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/logro2.png">
      <br>
      <mat-card-content>
      <p class="nombreLogro2">Visionario</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cardPeq">
      <img mat-card-image class="logros2" src="../assets/images/logros/logro2.png">
      <br>
      <mat-card-content>
      <p class="nombreLogro2">Visionario</p>
      </mat-card-content>
    </mat-card>
    <div class="der"><a type="submit" (click)="pasarDer()"><mat-icon>keyboard_arrow_right</mat-icon></a></div>
  </div>
  <br><br>

</div>

</div>
