.fondo {
  background: rgb(52,52,52);
  background-repeat: no-repeat;
  background-size: cover;
  padding:5.2vh;
  height: 100%;
  width: auto;
}
.tarjeta{
  width: 550px;
  height: 540px;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 40%;
  /*Efecto espejo*/
  padding: 48px;
  border-radius: 24px;
  background: linear-gradient(
  135deg,
  #ffffffad,
  #ffffffad
);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
font-size: 30px;

text-align: center;
}
.fotoPerfil{

  margin-left: 45%;
  height: 80px;
  width: 80px;
  background-color: aliceblue;
  border-radius: 50%;
}
.entradas {
  display: grid;
  margin-top: 10px;
  margin-bottom: -100px;
  grid-template-columns: repeat(1, 18em);
  justify-content: center;

}
.titulos{
  font-size:20px
}
.tituloImagen1{
  font-size: 18px;
}
input{
  font-size:18px;
}

.botonSeleccionarArchivo{
  color: rgb(254,254,231);
  margin-left: -129px;
  margin-top: -35px;
  width: 159px;
  height:23px;
  background-color: rgb(85, 183, 232);
  border-radius: 20px;
  position: absolute;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.36);
  cursor: pointer;
}

.botones{
  color: rgb(254,254,231);
  border-radius: 20px;
  background-color: rgb(85, 183, 232);
  text-align: center !important;
  align-items: center !important;
  margin: 0 10px;
  display: inline-block;
  width:130px;
  height:40px;
  font-size: 20px;

}
@media screen and (max-width:700px) {
  .fondo {
    background:  rgb(52,52,52);
    background-repeat: no-repeat;
    background-size: cover;
    padding:2.5vh;
    height: 100%;
    width: auto;
  }
  .tarjeta{
    width: 270px;
    height: 540px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 5%;
    /*Efecto espejo*/
    padding: 24px;
    border-radius: 24px;
    background: linear-gradient(
    135deg,
    #ffffffad,
    #ffffffad
  );
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  font-size: 30px;

  text-align: center;
  }
  .fotoPerfil{

    margin-left: 35%;
    height: 80px;
    width: 80px;
    background-color: aliceblue;
    border-radius: 50%;
  }
  .entradas {
    display: grid;
    margin-top: 10px;
    margin-bottom: -100px;
    grid-template-columns: repeat(1, 18em);
    justify-content: center;

  }
  .titulos{
    font-size:20px
  }
  .tituloImagen1{
    font-size: 18px;
  }
  input{
    font-size:18px;
  }

  .botonSeleccionarArchivo{
    color: rgb(254,254,231);
    margin-left: -129px;
    margin-top: -35px;
    width: 159px;
    height:23px;
    background-color: rgb(85, 183, 232);
    border-radius: 20px;
    position: absolute;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.36);
    cursor: pointer;
  }

  .botones{
    color: rgb(254,254,231);
    border-radius: 20px;
    background-color: rgb(85, 183, 232);
    text-align: center !important;
    align-items: center !important;
    margin: 0 10px;
    display: inline-block;
    width:130px;
    height:40px;
    font-size: 20px;

  }
}
