<div class="car">
    <div class="izq"><button><img src="../../../../assets/icons/izqflecha.png" alt=""></button></div>
    <div class="cimg">
      <div class="img"><img src="../../../../assets/images/avatar/avatar2.png" alt=""></div>
      <div class="img"><img src="../../../../assets/images/avatar/Avatar-2.png" alt=""></div>
      <div class="img"><img src="../../../../assets/images/avatar/avatar1.png" alt=""></div>
    </div>
    <div class="der"><button><img src="../../../../assets/icons/dereflecha.png" alt=""></button></div>
  </div>
