<mat-card class="tarjetaPrincipal">
  <mat-card-content>
    <mat-card-title *ngIf="!articulo else editarT">Registrar Art&iacute;culo</mat-card-title>
    <ng-template #editarT>
      <mat-card-title>Actualizar Art&iacute;culo</mat-card-title>
    </ng-template>
    <br>
    <form [formGroup]="form">
      <div class="entradas">
        <div class="campo-entrada">
          <mat-form-field appearance="fill">
            <mat-label class="titulos">Nombre</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="nombre">
            <mat-icon matSuffix class="boton">nombre</mat-icon>
          </mat-form-field>
        </div>
        <div class="campo-entrada">
          <mat-form-field appearance="fill">
            <mat-label class="titulos">Descripci&oacute;n</mat-label>
            <textarea matInput type="textArea" matInput autocomplete="off" formControlName="descripcion"></textarea>
            <mat-icon matSuffix class="boton">descripcion</mat-icon>
          </mat-form-field>
        </div>
        <div class="campo-entrada">
          <mat-form-field appearance="fill">
            <mat-label class="titulos">Precio</mat-label>
            <input type="number" matInput autocomplete="off" formControlName="precio">
            <mat-icon matSuffix class="boton">precio</mat-icon>
          </mat-form-field>
        </div>
        <div class="campo-entrada">
          <mat-form-field appearance="fill">
            <mat-label class="titulos">Nivel V&aacute;lido</mat-label>
            <input type="number" matInput autocomplete="off" formControlName="nivelValido">
            <mat-icon matSuffix class="boton">nivelValido</mat-icon>
          </mat-form-field>
        </div>
        <div class="campo-entrada">
          <mat-form-field appearance="fill">
            <mat-label class="titulos">Estado</mat-label>
            <mat-select formControlName="idEstado" (selectionChange)="setEstado($event.value)">
              <mat-option *ngFor="let estado of estados" [value]="estado.idEstado">
                {{estado.estado}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix class="boton">estado</mat-icon>
          </mat-form-field>
        </div>
        <div class="campo-entrada">
          <mat-form-field appearance="fill">
            <mat-label class="titulos">Categor&iacute;a</mat-label>
            <mat-select formControlName="idCategoria" (selectionChange)="setCategoria($event.value)">
              <mat-option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
                {{categoria.nombre}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix class="boton">estado</mat-icon>
          </mat-form-field>
        </div>
        <div class="campo-entrada" *ngIf="!articulo else editar">
          <mat-form-field appearance="fill">
            <mat-label class="titulos">Usuario Creador</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="usuarioCreador">
            <mat-icon matSuffix class="boton">usuarioCreador</mat-icon>
          </mat-form-field>
        </div>
        <ng-template #editar>
          <div class="campo-entrada">
            <mat-form-field appearance="fill">
              <mat-label class="titulos">Usuario Modificador</mat-label>
              <input type="text" matInput autocomplete="off" formControlName="usuarioModificador"
                id="usuarioModificador">
              <mat-icon matSuffix class="boton">usuarioModificador</mat-icon>
            </mat-form-field>
          </div>
          <div class="campo-entrada">
            <mat-label class="titulos">Desea Actualizar su Foto</mat-label>
            <br>
            <mat-radio-group   [(ngModel)]="actualizarFoto" [ngModelOptions]="{standalone: true}">
              <mat-radio-button value="si">SI</mat-radio-button>
              <mat-radio-button value="no">NO</mat-radio-button>
            </mat-radio-group>
          </div>
          <br>
          <ng-template #seleccionarFoto>
            <div  class="campo-entrada">
              <mat-label class="tituloImagen1"> Seleccionar Foto </mat-label>
              <br><br>
              <input class="inputFile" type="file" #fileInput (change)="uploadImage($event)" id="Foto">
              <label for="Foto" class="botonSeleccionarArchivo"> Seleccionar Imagen</label>
              <br>
            </div>
          </ng-template>
          <ng-container *ngTemplateOutlet="actualizarFoto === 'si' ? seleccionarFoto : null"></ng-container>
        </ng-template>
        <div *ngIf="!articulo">
          <div class="campo-entrada">
            <mat-label class="tituloImagen1"> Seleccionar Imagen del Art&iacute;culo </mat-label>
            <br>
            <input class="inputFile" type="file" #fileInput
              (change)="uploadImage($event)"  id="imagenArticulo">
            <label for="imagenArticulo" class="botonSeleccionarArchivo"> Seleccionar Imagen</label>
          <br><br>
          </div>
        </div>
        <div class="boton">
          <button mat-raised-button class="botones" (click)="atras()">Atr&aacute;s</button>
          <button mat-raised-button class="botones"  id="guardarArticulo" (click)="guardarArticulo()"
            *ngIf="!articulo else botonEditar">Crear Artículo</button>
          <ng-template #botonEditar>
            <button mat-raised-button type="button" id="editar" (click)="actualizar()" class="botones">Guardar
              Art&iacute;culo</button>
          </ng-template>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
