<section class="footer">
  <div class="social">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
  <ul>
    <li>
      <a href="#" ariaDisabled="true" style="pointer-events: none;">Home</a>
    </li>
    <li>
      <a href="#" ariaDisabled="true" style="pointer-events: none;">Proyecto</a>
    </li>
    <li>
      <a href="#" ariaDisabled="true" style="pointer-events: none;">Equipo</a>
    </li>
    <li>
      <a href="#" ariaDisabled="true" style="pointer-events: none;">Ayuda</a>
    </li>
  </ul>
</section>
