<section class="footer">
  <div class="social">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
  </div>
  <ul class="list">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Proyecto</a>
    </li>
    <li>
      <a href="#">Equipo</a>
    </li>
    <li>
      <a href="#">Contáctenos</a>
    </li>
    <li>
      <a href="#">Ayuda</a>
    </li>
    <p class="copyright">Grupo de investigación LIDIS @ 2022</p>
  </ul>
</section>
