<mat-card class="tarjetaPrincipal">
  <mat-card-content>
    <mat-card-title *ngIf="!mision else editarT">Registrar Misi&oacute;n</mat-card-title>
    <ng-template #editarT>
      <mat-card-title>Actualizar Misión</mat-card-title>
    </ng-template>
<br>
    <form [formGroup]="form">
      <div class="entradas">
        <div class="campo-entrada">
          <mat-form-field appearance="fill">
            <mat-label class="titulos">Nombre</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="nombre">
            <mat-icon matSuffix class="boton">name</mat-icon>
          </mat-form-field>
        </div>
        <div class="campo-entrada">
          <mat-form-field appearance="fill">
            <mat-label class="titulos">Curso</mat-label>
            <mat-select formControlName="idCurso" (selectionChange)="setCurso($event.value)">
              <mat-option *ngFor="let curso of cursos" [value]="curso.idCurso">
                {{curso.nombre}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix class="boton">curso</mat-icon>
          </mat-form-field>
        </div>
        <div class="campo-entrada" *ngIf="!mision else editar">
          <mat-form-field appearance="fill">
            <mat-label class="titulos">Usuario Creador</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="usuarioCreador">
            <mat-icon matSuffix class="boton">usuarioCreador</mat-icon>
          </mat-form-field>
        </div>
        <ng-template #editar>
          <div class="campo-entrada">
            <mat-form-field appearance="fill">
              <mat-label class="titulos">Usuario Modificador</mat-label>
              <input type="text" matInput autocomplete="off" formControlName="usuarioModificador">
              <mat-icon matSuffix class="boton">usuarioModificador</mat-icon>
            </mat-form-field>
          </div>
          <div class="campo-entrada">
            <mat-label class="titulos">Desea Actualizar su Foto</mat-label>
            <br>
            <mat-radio-group   [(ngModel)]="actualizarFoto" [ngModelOptions]="{standalone: true}">
              <mat-radio-button value="si">SI</mat-radio-button>
              <mat-radio-button value="no">NO</mat-radio-button>
            </mat-radio-group>
          </div>
          <br>
          <ng-template #seleccionarFoto>
            <div  class="campo-entrada">
              <mat-label class="tituloImagen1"> Seleccionar Foto </mat-label>
              <br><br>
              <input class="inputFile" type="file" #fileInput (change)="uploadImage($event)" id="Foto">
              <label for="Foto" class="botonSeleccionarArchivo"> Seleccionar Imagen</label>
              <br>
            </div>
        </ng-template>
        <ng-container *ngTemplateOutlet="actualizarFoto === 'si' ? seleccionarFoto : null"></ng-container>
        </ng-template>
        <br>
        <div *ngIf="!mision">
          <div class="campo-entrada">
            <mat-label class="tituloImagen1"> Seleccionar Imagen Para la Misi&oacute;n </mat-label>
            <br><br>
            <input class="inputFile" type="file" #fileInput
              (change)="uploadImage($event)" id="imagenMision">
            <label for="imagenMision" class="botonSeleccionarArchivo"> Seleccionar Imagen</label>
            <br><br>
          </div>
        </div>
        <div class="boton">
          <button mat-raised-button class="botones" id="atras" (click)="atras()">Atr&aacute;s</button>
          <button mat-raised-button class="botones" id="guardarMision" (click)="guardarMision()"
            *ngIf="!mision else botonEditar">Crear Misión</button>
          <ng-template #botonEditar>
            <button mat-raised-button type="button" id="editar" (click)="actualizar()" class="botones">Actualizar
              Misión</button>
          </ng-template>
        </div>
      </div>

    </form>
  </mat-card-content>
</mat-card>
