<mat-card class="tarjetaPrincipal">
    <mat-card-content>
      <mat-card-title>Lista de Retos Registrados</mat-card-title>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input  matInput (keyup)="applyFilter($event)" placeholder="Ingrese el nombre del reto" #input>
      </mat-form-field>
      <div class="demo-button-container">
        <button mat-raised-button (click)="registrarReto()" class="demo-button">
          Registrar Reto
        </button>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{row.idReto}}</td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{row.nombreReto}}</td>
          </ng-container>
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
            <td mat-cell *matCellDef="let row">{{row.descripcion}}</td>
          </ng-container>
          <!--TODO:SE DEBE REVISAR PORQUE EN LA TABLA NO SALE LOS INTENTOS-->
          <ng-container matColumnDef="intentos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No. Intentos</th>
            <td mat-cell *matCellDef="let row">{{row. maximoIntentos}}</td>
          </ng-container>
          <ng-container matColumnDef="fechaInicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha inicio</th>
            <td mat-cell *matCellDef="let row">{{row.fechaInicio}}</td>
          </ng-container>
          <ng-container matColumnDef="fechaLimite">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha limite</th>
            <td mat-cell *matCellDef="let row">{{row.fechaLimite}}</td>
          </ng-container>
          <ng-container matColumnDef="idMision">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Misión</th>
            <td mat-cell *matCellDef="let row">{{row.idMision}}</td>
          </ng-container>
          <ng-container matColumnDef="idEstado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Estado</th>
            <td mat-cell *matCellDef="let row">{{row.idEstado}}</td>
          </ng-container>

          <ng-container matColumnDef="idCurso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Curso</th>
            <td mat-cell *matCellDef="let row">{{row.idCurso}}</td>
          </ng-container>

          <ng-container matColumnDef="usuarioCreador">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Creador</th>
            <td mat-cell *matCellDef="let row">{{row.usuarioCreador}}</td>
          </ng-container>

          <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creación</th>
            <td mat-cell *matCellDef="let row">{{row.fechaCreacion}}</td>
          </ng-container>

          <ng-container matColumnDef="usuarioModificador">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificador</th>
            <td mat-cell *matCellDef="let row">{{row.usuarioModificador}}</td>
          </ng-container>

          <ng-container matColumnDef="fechaModificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Modificación</th>
            <td mat-cell *matCellDef="let row">{{row.fechaModificacion}}</td>
          </ng-container>

          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index"style="text-align:center">
              <a  class="botones" [routerLink]="['/admin/reto/editarReto/',element.idReto]" style="color:rgb(19, 12, 59); cursor:pointer" (click)="actualizarReto(element.idReto)" matTooltip="Editar Reto">
                <mat-icon>edit</mat-icon>
              </a>
              <a  class="botones" (click)="eliminarReto(element)" style="color:rgb(224, 26, 26); cursor:pointer" matTooltip="Eliminar Reto">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No existe un reto con el nombre "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5]" aria-label="Seleccione la pagina de retos"></mat-paginator>
      </div>
    </mat-card-content>
</mat-card>
