.tarjetaPrincipal{
    width: 80%;
    height: 500px;
    margin-right: 20px;
    margin-left: 70px;
    /*Efecto espejo*/
    padding: 55px;
    background-color: rgb(52,52,52);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.36);
    font-size: 30px;
    color:rgb(237, 239, 240);
    text-align: center;
  }
  .demo-button-container {
    padding-bottom: 16px;
    align-items: center;

  }
ñ
  .demo-button + .demo-button {
    margin-left: 58px;
  }
  mat-form-field {
    font-size: 12px;
    width: 50%;
    color: #31b2c2;
    font-size: 18px;
  }

  mat-label{
    color: white;
    }
    #busqueda::placeholder{
      color: white;
    }

  table {
    table-layout: fixed;
    width: 100%;

  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 60px;
    text-align: center;
    align-items: center;
    word-wrap: break-word;
    font-size:10px;
    line-height: 10px;
    font-family: 'Roboto';
  }
