*{
  background-color: #343434;
  height: auto;
  width: auto;
}
.menu>a{
color: #31B2C2;
margin-left: 30px;

}
.menu>button{
color: #31B2C2;
margin-left: 30px;
}

.color{
height: 80px;
opacity: 0.9;
margin-left:80px;
}

/**menu burger*/
.center {
  left: 30px;
  right: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40px;
  width: 50px;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.center:before,
.center:after{
  background: #31B2C2;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.center div{
  background: aqua;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.center:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.center:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.center:hover div {
  transform: scale(0);
}
@media screen  and (max-width: 600px) {
  .menu>a{

    color: white;
    margin-left: 30px;

  }
  .fondoLogo {
    margin-left: -60px;
  }
  .colorc {
    margin-left: 80px;
  }
  .colorc>img{
    height: 37px;
  }
  .colorc>h1{
    font-size: 37px;
    color: white;
    margin-left: -80px;
  }

}
