mat-toolbar{
  align-content:space-between 10px ;
  background:rgb(146, 129, 117);
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  position: relative;
  height: 80px;
}

.menu>a{
color: rgb(169,107,58);
margin-left: 30px;

}
.menu>button{
color: rgb(169,107,58);
margin-left: 30px;
}

.color{
height: 80px;
opacity: 0.9;
margin-left:80px;
}
.fondoLogo {
align-items: center;
padding-left: 45px;
background-color: transparent;

}
.fondoLogo>img{
  padding-top: 10px;
  padding-left: 450px;
  padding-right: 50px;
  height: 65px;
  width: 150px;
  align-items: center;
}




.center:before,
.center:after{
  background: rgb(165,101,50);
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.center div{
  background: aqua;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.center:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.center:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.center:hover div {
  transform: scale(0);
}
@media screen  and (max-width: 600px) {
  .menu>a{

    color: white;
    margin-left: 30px;

  }
  .colorc {
    margin-left: 80px;
  }
  .colorc>img{
    height: 37px;
  }
  .colorc>h1{
    font-size: 37px;
    color: white;
    margin-left: -80px;
  }

}
