mat-sidenav-container{
  height: 100%;

}
mat-sidenav{
  width: 200px;
  /* background: linear-gradient(rgba(0, 255, 255, 0.403), rgb(38,38,38)); */
  background: rgb(241,231,194);
}
mat-toolbar{
height: 100px;
}
.menu>a{
color: rgb(169,107,58);
margin-left: 30px;

}
.menu>button{
color: rgb(169,107,58);
margin-left: 30px;
}
.home{
font-size: 20px;
}
.recompensas{
font-size: 20px;
}
.ranking{
font-size: 20px;
}
.tienda{
font-size: 20px;
}
.notificaciones{
font-size: 20px;
}
.ajustes{
font-size: 20px;
}
.salida {
font-size: 20px;
}
.color{
height: 80px;
opacity: 0.9;
margin-left:80px;
}
.fondoLogo {
align-items: center;
padding-left: 45%;
background-color: rgba(255, 255, 255, 0.048);
opacity: 85%;
}
.fondoLogo>img{
height: 85px;
width: 200px;
align-items: center;
}
mat-toolbar{
  align-content:space-between 10px ;
  background-color: transparent;
}

/**menu burger*/
.center {
  left: 30px;
  right: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40px;
  width: 50px;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.center:before,
.center:after{
  background: rgb(165,101,50);
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.center div{
  background: aqua;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.center:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.center:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.center:hover div {
  transform: scale(0);
}
@media screen  and (max-width: 600px) {
  .menu>a{

    color: white;
    margin-left: 30px;

  }
  .colorc {
    margin-left: 80px;
  }
  .colorc>img{
    height: 37px;
  }
  .colorc>h1{
    font-size: 37px;
    color: white;
    margin-left: -80px;
  }

}
