<app-menu (onToggleSideNav)="onToggleSideNav($event)"></app-menu>
<div class="container">
  <div class="ladoIzq">
    <div class="tarjeta">
      <h2 class="tituloLadoIzq">Artículos Adquiridos</h2>
      <mat-card class="tarjetaArticulo">
        <img src="../../assets/images/tienda/gorra.png" class="imagenArticulo">
        <mat-card-title class="tituloArticulo">Nombre Articulo</mat-card-title>
        <button mat-raised-button class="botonArticulo">Ver</button>
      </mat-card>
      <mat-card class="tarjetaArticulo">
        <img src="../../assets/images/tienda/gorra.png" class="imagenArticulo">
        <mat-card-title class="tituloArticulo">Nombre Articulo</mat-card-title>
        <button mat-raised-button class="botonArticulo">Ver</button>
      </mat-card>
      <mat-card class="tarjetaArticulo">
        <img src="../../assets/images/tienda/gorra.png" class="imagenArticulo">
        <mat-card-title class="tituloArticulo">Nombre Articulo</mat-card-title>
        <button mat-raised-button class="botonArticulo">Ver</button>
      </mat-card>
    </div>
  </div>
  <div class="centro">
    <mat-card class="tarjetaCentro">
      <mat-card-header>
        <mat-card-title>Artículo</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="centroAbajo">
    <mat-card class="tarjetaCentroAbajo">
      <mat-card-header>
        <mat-card-title>Descripcion</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="boton">
    <button mat-raised-button class="botones">Volver al Mapa</button>
    <button mat-raised-button class="botones">Eliminar Arículo</button>
  </div>
</div>
<br>
