<app-menu (onToggleSideNav)="onToggleSideNav($event)"></app-menu>
<div class="container">
  <div class="ladoIzq">
    <mat-card class="tarjeta">
      <mat-card-header>
        <mat-card-title>Artículos Adquiridos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="elementos">
          <br>
          <img src="../../assets/images/tienda/gorra.png">
          <h2>Nombre Articulo</h2>
          <button mat-raised-button>Ver</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="centro">
    <mat-card class="tarjetaCentro">
      <mat-card-header>
        <mat-card-title>Artículo</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="centroAbajo">
    <mat-card class="tarjetaCentroAbajo">
      <mat-card-header>
        <mat-card-title>Descripcion</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="boton">
    <button mat-raised-button class="botones">Eliminar Arículo</button>
  </div>
</div>
<br>

