<mat-toolbar class="color" >
  <button mat-button class="confi"></button>
  <h1 >Docente</h1>
  <img src="./assets/images/logo.png" alt="" >
</mat-toolbar>
<div class="body">

    <div class="fondoTarjeta">
      <div class="estudiante" >

        <img src="assets/images/avatar/Avatar-2.png" alt="" height="100">
          <h2>Nombre: </h2>
          <h2>Facultad:</h2>
          <!-- <h3>Puntos Individuales: {{estudiante.puntaje}}</h3> -->
          <button mat-button style="background-color: rgb(90, 134, 155); color: rgb(255, 255, 255)"> Cambiar
            avatar</button>
          </div>
            <mat-card class="fondoTarjeta2">
                <div class="noti">
              <button class="notificaciones">
                <img src="./assets/icons/campana.png" alt="">
              </button>
            </div>
            </mat-card>
    </div>
</div>