.entradas {
  display: grid;
 margin-top: 10px;
 margin-bottom: -100px;
 grid-template-columns: repeat(2, 18em);
 justify-content: center;

}
.titulos{
font-size:20px;
color: rgb(255, 255, 255);

}

.campo-entrada{
 float: right;
 width: 50%;

}
.campofecha{
  align-items: center;
  width: 300px;
  padding-left:80px;
}

form {
 height: 350px;
 width: auto;
}
.botones{
  color: rgb(254,254,231);
  border-radius: 20px;
  background-color: rgb(201, 131, 69);
  text-align: center !important;
  align-items: center !important;
  margin: 0 10px;
  display: inline-block;
  width:130px;
  height:40px;
  font-size: 20px;

}

.botonsalir{
  color: rgb(201, 131, 69);
  border-radius: 20px;
  background-color: rgb(254,254,231);
  text-align: center !important;
  align-items: center !important;
  margin: 0 10px;
  display: inline-block;
  width:100px;
  height:40px;
  font-size: 20px;

}


.boton {

 margin: 3px;
 position: center;
 left: 80%;
 line-height: 35px;
 align-items: center;

}
.carrousel{
  width:500px;
  height:100px;
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {


 .entradas {
     margin: 30px auto;
     grid-template-columns: repeat(2 , 100px);
 }

 .form {
     height: auto;
     width: 350px;
 }

 .boton1 {
     margin: 1px;
     position: relative;
     margin-left: -300px;

 }
 .titulos{
    font-size: 15px;

 }
 .campo-entrada{
    margin-left: -40px;
    size: 60px;
 }


}
