.entradas {
  display: grid;
 margin-top: 10px;
 margin-bottom: -100px;
 grid-template-columns: repeat(2, 18em);
 justify-content: center;

}
.titulos{
font-size:20px;
color: rgb(255, 255, 255);

}

.campo-entrada{
 float: right;
 width: 50%;

}
.campofecha{
  align-items: center;
  width: 300px;
  padding-left:80px;
}

form {
 height: 350px;
 width: auto;
}
.botones{
  color: rgb(254,254,231);
  border-radius: 20px;
  background-color: #30B4C6;
  text-align: center !important;
  align-items: center !important;
  margin: 0 10px;
  display: inline-block;
  width:130px;
  height:40px;
  font-size: 20px;

}

.botonsalir{
  color: #30B4C6;
  border-radius: 20px;
  background-color: rgb(254,254,231);
  text-align: center !important;
  align-items: center !important;
  margin: 0 10px;
  display: inline-block;
  width:100px;
  height:40px;
  font-size: 20px;

}


.boton {

 margin: 3px;
 position: center;
 left: 80%;
 line-height: 35px;
 align-items: center;

}
.carrousel{
  width:500px;
  height:100px;
  margin-bottom: 40px;
}
.car {
  display: flex;
  justify-content: center;
}
.izq,.der {
  margin-top: 40px;
  position: relative;
  background-color: transparent;
  color: black;
  cursor: pointer;

}
.cimg {
margin-left: 20px;
margin-right: 20px;
padding-right: 20px;
padding-left: -10px;
display: flex;
}
.cimg .imgAvatar {
height: 50px;
width: 50px;
display: flex;

}

.cimg .imgAvatar .avatares{
height: 80px;
width: 80px;
margin-top: 10px;
cursor: pointer;
object-fit: cover;
opacity: .8;
transition: .3s;
}
.cimg .imgAvatar .avatares:hover {
opacity: 1;
}
.active{
opacity: 1 !important;
box-shadow: 0 5px rgba(1,23,46,0.6);
}
input{
  font-size: 20px;
}

