<div class="body" *ngIf="user$ | async as user;">
  <div class="tarjeta">
    <mat-card class="fondoTarjeta">
      <mat-card-content>
        <img src="./assets/images/LogoVF.png" class="logo">
          <h3 class="align">¡Gracias por registrarse!</h3>
          <div class="texto">
              <p>Se envi&oacute; un correo de verificaci&oacute;n a<strong> {{user?.email}} </strong><br> Por favor revise su email y de click en el link de verificaci&oacute;n.</p>
          </div>
          <div class="botones">
              <button class="textolarge" mat-raised-button (click)="onSendEmail()">Reenviar verificaci&oacute;n</button>
              <button class="boton" mat-raised-button (click)="salir()">Salir</button>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

