<div class="body">
  <div class="box">
    <img class="banner" src="../../../../assets/images/fondos/bannerLogros.png" alt="bannerRanking">
  </div>
  <div class="monedas">
    <div class="monedasEstudiante">
      <h1 class="valor">{{monedasEstudiante}}</h1>
      <img mat-card-image class="monedasActuales" src="../assets/images/moneda.png">
    </div>
  </div>
  <div class="container">
    <div class="slider">
      <div class="tarjetasPeq">
        <mat-card class="cardPeq" *ngFor="let articulo of productos">
          <img mat-card-image class="imagenArticulo" src="{{articulo.imagen}}">
          <br>
          <mat-card-content>
            <p class="precio">{{articulo.precio}}<img mat-card-image class="precio-img"
                src="../assets/images/moneda.png">
            </p>
            <p><button mat-button class="botones">Canjear</button></p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
