.body{
  background-color:#343434 ;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  align-items: center;
  padding-left: 1%;
}
.banner {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  max-height: 920px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 0px;
  
}
.box{
position: relative;

}
.monedas{
  background: rgba(116, 116, 116, 0.561);
  width: 18em;
  height: 5em;
  margin-left: 80%;
  margin-top: -30px;
  border-radius: 10px;

}
.monedasEstudiante {
  color:white;
  margin-left:85px;
  margin-top: 60px;
  font-size: 50px;
}
.monedasEstudiante> h1 {
  color:white;
  margin-left:5px;
  margin-top: -10px;
  font-size: 50px;
  position: relative;
  top: 18px;
}
.monedasActuales{
  margin-left:-65px;
  margin-top: -38px;
  float: left;
  width:50px;
  height:50px;
}
.container{
  width: 1030px;
  height: 800px;
  margin-right: 80px;
  margin-left: 310px;
  padding: 18px;

}
.slider{
  margin-left: -50%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.tarjetasPeq{
  margin-left:50%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.cardPeq{
  width: 150px;
  height:220px;
  margin: 10px;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  display: flex;
  margin: 30px;
  background: #979797;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 6px 28px 0 rgba(0, 0, 0, 0.36);
  transition:0.5s ease-in-out;
}
.cardPeq:hover{
  cursor: pointer;
}
.cardPeq:hover mat-card-content{
  height:100px;
  bottom:-5px;
  background:#343434bb;
}
.cardPeq:hover p{
  text-align: center;
  opacity: 1;
  visibility: visible;
}
.cardPeq:hover .imagenArticulo{
  margin-bottom: 30px;
  margin-left:5%;
  transform: rotate(-10deg);
}
.imagenArticulo{
  transform: translate(18px,25px);
  width:120px;
  height:115px;
  vertical-align: middle;
  transition: 0.5s;
  margin-bottom: 40px;
  margin-left:-12px;
  align-items: center;
}
.card{
  width: 220px;
  height: 130px;
  margin: 10px;
  text-align:left;
  border-radius: 30px;
  background: #F5F5F5;
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
}
.mat-card-content{
  height:50px;
  width:250px;
  position: absolute;
  bottom: 0px;
  right: 0.1px;
  left: 0.01px;
  padding: 16px;
  box-sizing: border-box;
  position: absolute;
  background:rgba(80, 71, 64, 0.734);
  color:white;
  transition: 0.5s;
  vertical-align: middle !important;
}
.mat-card-content p{
  align-items: center;
  line-height: 12px;
  margin-top: 5px;
  text-align: center;
  margin-right: 50%;
  font-size:35px;
  font-family: Mouse Memoirs;
}

.precio{
  color:white;
  margin-left:15%;
  margin-top: -20px;

}
.precio-img{
  vertical-align: middle !important;
  transform: translate(2px, 5px);
  float: right;
  width:30px;
  height:30px;
}
.botones{
  margin-bottom: -265px;
  width:120px;
  height:30px;
  margin-left: 15px;
  color: rgb(254,254,231);
  border-radius: 20px;
  background-color: rgb(85, 183, 232);
  text-align: center !important;
  align-items: center !important;
  display: inline-block;
  font-size: 20px;
}
@media only screen and (max-height: 900px){
  .tarjetasPeq{
    
    margin-left:40em;
    display:grid;
    grid-template-columns: repeat(3,20em);
  }
  .monedas{
    background: rgba(116, 116, 116, 0.561);
    width: 18em;
    height: 5em;
    margin-left: 80%;
    margin-top: -20px;
    border-radius: 10px;
  
  }
}
@media screen and (max-width: 700px){
  .banner {
    width: 100%;
    max-width: 1450px;
    height: 80%;
    max-height: 920px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 0px;
    
  }
  .tarjetasPeq{
    margin-left:10%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  }
  .cardPeq{
    width: 80px;
  height: 80px;
  margin: 1px;
  text-align:left;
  border-radius: 30px;

  }
  .cardPeq:hover{
    margin-bottom: 30px;
    margin-left:5%;
    transform: rotate(-10deg);
  }
  .imagenArticulo{
    transform: translate(18px,25px);
    width:50px;
    height:50px;
  }
  .slider {
    margin-left: -50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container{
    width: 0px;
    height: 805px;
    margin-right: 0px;
    margin-left: 145px;
    padding: 0px;
  }
  /***************/
  .precio{
    color:white;
    margin-left:0%;
    margin-top: -20px;

  }
  .precio-img{
    vertical-align: middle !important;
    transform: translate(2px, 5px);
    float: right;
    width:30px;
    height:30px;
  }
  .botones{
    margin-bottom: -265px;
    width:75px;
    height:35px;
    margin-left: 0px;
    color: rgb(254,254,231);
    border-radius: 20px;
    background-color: rgb(85, 183, 232);
    text-align: center !important;
    align-items: center !important;
    display: inline-block;
    font-size: 20px;
  }
  /**********/
  .mat-card-content{
    height:50px;
    width:250px;
    position: absolute;
    bottom: 0px;
    right: 0.1px;
    left: 0.01px;
    padding: 1px;
    box-sizing: border-box;
    position: absolute;
    background:rgba(146,129,117, 0.734);
    color:white;
    transition: 0.5s;
    vertical-align: middle !important;
  }
  .mat-card-content p{
    align-items: center;
    line-height: 12px;
    margin-top: 5px;
    text-align: center;
    margin-right: 50%;
    font-size:35px;
    font-family: Mouse Memoirs;
  }
  .monedas{
    background: rgba(116, 116, 116, 0.561);
    width: 130px;
    height: 70px;
    margin-left: 60%;
    margin-top: -30px;
    border-radius: 10px;
  
  }
 
}
/*Responsive Tablet*/

@media only screen and (max-width: 768px) {

  .slider {
    margin-left: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .banner {
    width: 100%;
    max-width: 1450px;
    height: 60%;
    max-height: 920px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 0px;
    
  }
  .container{
    max-width: 70%;
    margin-right: 80px;
    margin-left: 80px;
    padding: 18px;
  
  }
}

/*Responsive Laptop*/

@media only screen and (max-width: 992px) {
  .container{
    max-width: 80%;
    margin-right: 80px;
    margin-left: 80px;
    padding: 18px;
  
  }
  .slider {
    margin-left: -100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.banner {
  width: 100%;
  max-width: 1450px;
  height: 80%;
  max-height: 920px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 0px;
  
}
}