
.spinner{
  margin: 0 auto;
  color:#31B2C2;
}
.fondoTarjeta{
  max-width: 435px;
  font-family: Mouse Memoirs;
   /*Efecto espejo*/
  padding: 1em;
  width: 100%;
  border-radius: 15px;
  background: rgba(151, 116, 116, 0);
}
.mat-form-field{
  size: 12px;
}
.entradauc1 {
  margin-left: 10px;
  margin-right: 10px;
  width: 320px;
  font-family: 'Mouse Memoirs';
  font-size: 20px;
  color:rgb(235, 227, 215);
}
.mat-label{
  color: rgb(241, 231, 194);
}
.entradauc2 {
  margin-left: 10px;
  margin-right: 10px;
  width: 320px;
  font-family: 'Mouse Memoirs';
  font-size: 20px;
  color:rgb(235, 227, 215);
}
.boton{
  padding-right:10px;
  top: 35px;
  color: rgb(235, 227, 215);
}
.botones {
  max-width: 15em;
  width: 10em;
  font-family: 'Mouse Memoirs';
  border-radius: 10px;
  margin-top: 10px;
  background-color: #31B2C2 ;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 1em;
  font-size: 1.5em;
  margin-left:65px;
  color: rgb(241,231,194);
}
.botones:hover{
  background-color: rgb(241,231,194);
  color: #31B2C2;
}

/**lineas*/
.lienas{
  color: rgb(241,231,194);
  text-align: center;
  font-family: 'Mouse Memoirs' ;
  margin-top: 20px;
  font-size: 20px;
}
.lienas::after,.lienas::before{
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #FFFFFF;
  margin-top: 13px;
}
.lienas::before{
  left: 0px;
}
.lienas::after{
  right: 0px;
}
.otrac {
display: flex;
 margin-top: 5px;
 margin-bottom: 10px;
 margin-left: 50px;
 width: auto;
 height: auto;
}
.ancho{
  width: 100%;
}
.centrar{
  text-align: center;
  color: rgb(255, 255, 255);
}

.cambiar-contra{
  justify-content: center;
  text-align: center;
  font-family: 'Mouse Memoirs';
  font-size: 15px;
  color: white;
}

.vinculos-contra{
  font-family: 'Mouse Memoirs';
  font-size: 20px;
  color: rgb(241,231,194);
 top: 20px;
 bottom: 20px;
 margin-left: 14px;
}
.vinculos-contra:hover{
  color: #31B2C2;
  cursor: pointer;
}

/***************************/
.google{
  width: 55px;
  height: 55px;
  background: url(../../../../../assets/images/google.png);
  background-size: contain;
}
.google:hover{
  width: 55px;
  height: 55px;
  background: url(../../../../../assets/images/google2.png);
  background-size: contain;
}
.facebook{
  width: 55px;
  height: 55px;
  background: url(../../../../../assets/images/facebook.png);
  background-size: contain;
}
.facebook:hover{
  width: 55px;
  height: 55px;
  background: url(../../../../../assets/images/facebook2.png);
  background-size: contain;
}


@media screen and (max-width: 600px) {

  .fondoTarjeta{
    width: 20em;
    margin-left: 20px;
    font-family: 'Mouse Memoirs';

  }

  .botones {
    width: 6em;
    font-family: 'Mouse Memoirs';
    border-radius: 10px;
    background-color: #31B2C2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-content: center;
    margin-left: 81px;
    color: rgb(241,231,194);
    margin-left: 40px;
}
  .botones:hover{
    background-color: rgb(241,231,194);
    color: #31B2C2;

  }


.entradauc1 {
  margin: 0px;

}
.entradauc2 {
  margin: 0px;

}

.otrac {
 padding-left: 1px;
 display: flex;
 margin-top: 10px;
 margin-bottom: 1px;
 margin-left: 38.5px;
}
.entradauc1 {
  margin-left: -20px;
  margin-right: 5px;
  width: 250px;
  font-family: 'Mouse Memoirs';
  font-size: 20px;
}
.entradauc2 {
  margin-left: -20px;
  margin-right: 5px;
  width: 250px;
  font-family: 'Mouse Memoirs';
  font-size: 20px;
}
/*lineas responsive*/
.lienas{
  color: rgb(241,231,194);
  text-align: center;
  font-family: 'Mouse Memoirs' ;
  margin-top: 20px;
  font-size: 20px;
}
.lienas::after,.lienas::before{
  content: '';
  position: absolute;
  width: 97px;
  height: 1.5px;
  background-color: rgb(241,231,194);
  margin-top: 15px;
}
.lienas::before{
  left: -10px;
}
.lienas::after{
  right: -10px;
}
.otrac {
  
  display: flex;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 31px;
 }

}
