.example-spacer {
  flex: 1 1 auto;
}
.color{
  background-color:rgb(230, 246, 246);
  color: rgb(0, 0, 0);

}
.titulo{
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.icono{
  display: flex;
  color: black;


}
