.ancho{
  width: 100%;
  
  
}
.ancho1{
  font-family: Pirata One;
  font-size: 20px;
  color: black;
  background-color: aqua;
  margin-left: 150px;
}
.ancho1:hover{
  background-color: black;
  color: aqua;
}
.cambiar-contra{
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

.centrar{
  text-align: center;
  color: black;
}
.email {
 color: white;
 font-family: Pirata One;
}
.boton {
  color: white;
}

@media screen and (max-width: 600px) {
  .ancho1{
    margin-left: 85px;
  }
}