<app-menu (onToggleSideNav)="onToggleSideNav($event)"></app-menu>
<div class="body2"></div>
<div class="body">
  <div class="fondoPantalla">
    <div class="pantallaAdentro">
      <div class="navbar">
        <button mat-icon-button class="botonAtras" (click)="atras()"  matTooltip="Atrás">
          <mat-icon class="iconos">keyboard_backspace</mat-icon>
        </button>
        <button mat-icon-button  class="botonIntentos"  matTooltip="Intentos permitidos">
          <mat-icon class="iconos">favorite_border</mat-icon>
           03
        </button>
        <button mat-icon-button  class="botonTutorial" (click)="mostrarTutorial()" matTooltip="Como Practicar">
          <mat-icon class="iconos">video_library</mat-icon>
        </button>
        <button mat-icon-button  class="botonTema" (click)="mostrarPistas()" matTooltip="Pistas">
          <mat-icon class="icono-info">info</mat-icon>
        </button>
        <button mat-icon-button class="botonEjecutar" (click)="ejecutar()" matTooltip="Ejecutar">
          <mat-icon class="icono-run">play_circle_outline</mat-icon>
        </button>
      </div>

      <div class="texto">
        <!--TODO: Llamara servicio para traer la descripción del reto-->
        <div class="palabra1">
          <h1 class="variables"># <span style="color: #E74C3C;"><b>Rojo:</b></span> Acciones</h1>
        </div>
        <div class="palabra2">
          <h1 class="variables"># <span style="color: #27AE60;"><b>Verde:</b></span> Valores  </h1>
        </div>
        <div class="reto">
          <h1 class="retoExp"> <span style="font-weight: bold;"><b>Reto:</b></span> Deberas crear un algoritmo que permita coger un coco de la palmera.</h1>
        </div>
      </div>
      <div cdkDropListGroup>
        <div class="example-container1" [style.height]="exampleContainerHeight">
          <div cdkDropList [cdkDropListData]="palabras" class="example-list1" (cdkDropListDropped)="drop($event)" fxLayout fxLayoutAlign="center">
            <div
            class="example-box1"
            *ngFor="let item of palabras"
            cdkDrag
            [style.color]="(item.categoria === 'Metodo') ? '#E74C3C' : (item.categoria === 'VariableCV') ? '#3498DB' : (item.categoria === 'Variable') ? '#F4D03F': (item.categoria === 'Objeto') ? '#27AE60' : (item.categoria === 'logica') ? 'withe' : 'withe'"
            >{{item.nombre}}</div>
          </div>
        </div>
        <div class="cuadro-respuesta">
          <div class="example-container">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="a" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div
              class="example-box"
              *ngFor="let item of a"
              cdkDrag
              [style.color]="(item.categoria === 'Metodo') ? '#E74C3C' : (item.categoria === 'VariableCV') ? '#3498DB' : (item.categoria === 'Variable') ? '#F4D03F': (item.categoria === 'Objeto') ? '#27AE60' : (item.categoria === 'logica') ? 'withe' : 'withe'"
              >{{item.nombre}}</div>
            </div>
          </div>
          <div class="example-container">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="b" class="example-list" (cdkDropListDropped)="drop($event)">
              <div
              class="example-box"
              *ngFor="let item of b"
              cdkDrag
              [style.color]="(item.categoria === 'Metodo') ? '#E74C3C' : (item.categoria === 'VariableCV') ? '#3498DB' : (item.categoria === 'Variable') ? '#F4D03F': (item.categoria === 'Objeto') ? '#27AE60' : (item.categoria === 'logica') ? 'withe' : 'withe'"
              >{{item.nombre}}</div>
            </div>
          </div>
          <div class="example-container">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="c" class="example-list" (cdkDropListDropped)="drop($event)">
              <div
              class="example-box"
              *ngFor="let item of c"
              cdkDrag
              [style.color]="(item.categoria === 'Metodo') ? '#E74C3C' : (item.categoria === 'VariableCV') ? '#3498DB' : (item.categoria === 'Variable') ? '#F4D03F': (item.categoria === 'Objeto') ? '#27AE60' : (item.categoria === 'logica') ? 'withe' : 'withe'"
              >{{item.nombre}}</div>
            </div>
          </div>
          <div class="example-container">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="d" class="example-list" (cdkDropListDropped)="drop($event)">
              <div
              class="example-box"
              *ngFor="let item of d"
              cdkDrag
              [style.color]="(item.categoria === 'Metodo') ? '#E74C3C' : (item.categoria === 'VariableCV') ? '#3498DB' : (item.categoria === 'Variable') ? '#F4D03F': (item.categoria === 'Objeto') ? '#27AE60' : (item.categoria === 'logica') ? 'withe' : 'withe'"
              >{{item.nombre}}</div>
            </div>
          </div>
          <div class="example-container">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="e" class="example-list" (cdkDropListDropped)="drop($event)">
              <div
              class="example-box"
              *ngFor="let item of e"
              cdkDrag
              [style.color]="(item.categoria === 'Metodo') ? '#E74C3C' : (item.categoria === 'VariableCV') ? '#3498DB' : (item.categoria === 'Variable') ? '#F4D03F': (item.categoria === 'Objeto') ? '#27AE60' : (item.categoria === 'logica') ? 'withe' : 'withe'"
              >{{item.nombre}}</div>
            </div>

          </div>
          <div class="example-container">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="f" class="example-list" (cdkDropListDropped)="drop($event)">
              <div
              class="example-box"
              *ngFor="let item of f"
              cdkDrag
              [style.color]="(item.categoria === 'Metodo') ? '#E74C3C' : (item.categoria === 'VariableCV') ? '#3498DB' : (item.categoria === 'Variable') ? '#F4D03F': (item.categoria === 'Objeto') ? '#27AE60' : (item.categoria === 'logica') ? 'withe' : 'withe'"
              >{{item.nombre}}</div>
            </div>

          </div>
          <div class="example-container">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="g" class="example-list" (cdkDropListDropped)="drop($event)">
              <div
              class="example-box"
              *ngFor="let item of g"
              cdkDrag
              [style.color]="(item.categoria === 'Metodo') ? '#E74C3C' : (item.categoria === 'VariableCV') ? '#3498DB' : (item.categoria === 'Variable') ? '#F4D03F': (item.categoria === 'Objeto') ? '#27AE60' : (item.categoria === 'logica') ? 'withe' : 'withe'"
              >{{item.nombre}}</div>
            </div>

          </div>
          <div class="example-container">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="h" class="example-list" (cdkDropListDropped)="drop($event)">
              <div
              class="example-box"
              *ngFor="let item of h"
              cdkDrag
              [style.color]="(item.categoria === 'Metodo') ? '#E74C3C' : (item.categoria === 'VariableCV') ? '#3498DB' : (item.categoria === 'Variable') ? '#F4D03F': (item.categoria === 'Objeto') ? '#27AE60' : (item.categoria === 'logica') ? 'withe' : 'withe'"
              >{{item.nombre}}</div>
            </div>

          </div>
          <div class="example-container">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="i" class="example-list" (cdkDropListDropped)="drop($event)">
              <div
              class="example-box"
              *ngFor="let item of i"
              cdkDrag
              [style.color]="(item.categoria === 'Metodo') ? '#E74C3C' : (item.categoria === 'VariableCV') ? '#3498DB' : (item.categoria === 'Variable') ? '#F4D03F': (item.categoria === 'Objeto') ? '#27AE60' : (item.categoria === 'logica') ? 'withe' : 'withe'"
              >{{item.nombre}}</div>
            </div>

          </div>
          <div class="example-container">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="j" class="example-list" (cdkDropListDropped)="drop($event)">
              <div
              class="example-box"
              *ngFor="let item of j"
              cdkDrag
              [style.color]="(item.categoria === 'Metodo') ? '#E74C3C' : (item.categoria === 'VariableCV') ? '#3498DB' : (item.categoria === 'Variable') ? '#F4D03F': (item.categoria === 'Objeto') ? '#27AE60' : (item.categoria === 'logica') ? 'withe' : 'withe'"
              >{{item.nombre}}</div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>



</div>
