.body {
  align-items: center;
  background-color: #323232;
  max-height: 750px;
  height: 100%;


}

.logo {
  height: 100px;
  width: 200px;
  position: relative;

}

.centro {
  margin-left: 800px;
}

.fondo {
  padding-bottom: 10px;
  background-color: #323232;
}

.fondoPantalla {
  margin-top: 10px;
  max-width: 1700px;
  width: 100%;
  max-height: 550px;
  height: 90%;
  margin-left: 100px;
  /*Efecto espejo*/
  font-size: 30px;
  border-radius: 10px;
  border: 30px solid rgba(10, 10, 10, 0.883);
  color: rgb(255, 255, 255);
  float: inline-end;

}

.navbar {
  width: 100%;
  background-color: rgb(97, 100, 101);
  margin-top: -1%;
  margin-left: 0%;
}

.botonIntentos {
  background: transparent;
  border-style: hidden;
  width: 60px;
  height: 50px;


}

.botonTutorial {
  background: transparent;
  border-style: hidden;
  width: 60px;
  height: 50px;
}


.botonTema {

  border-style: hidden;
  background: rgb(97, 100, 101);
  border-radius: 20%;
  width: 60px;
  height: 50px;
}


.button:hover:enabled {
  background-color: rgb(172, 153, 139, 0.934);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: rgba(222, 240, 247, 1);
  border: none;
  padding: 0px 11px;
  font-size: 15px;
}


.iconos {
  color: #fff;
}

.icono-info {
  color: #ffffff;
}

.icono-info atras {
  padding-left: 40px;
}

.icono-run {
  color: rgb(25, 197, 106);
}
.icono-inst {
  color: rgb(55, 195, 227);
}
.botonAtras {

  border-style: hidden;
  background: rgb(97, 100, 101);
  border-radius: 20%;
  width: 60px;
  height: 50px;

}


.botonEjecutar, .botonInstrucciones {
  border-style: hidden;
  background: rgb(97, 100, 101);
  border-radius: 20%;
  width: 60px;
  height: 50px;
}

.imgEjecutar {

  width: 45px;
  height: 45px;
}

.nota{
  font-size:15px;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  line-height: 15px;
}

.example-container1 {
  width: 200px;
  max-width: 100%;
position: absolute;
  max-height: 200px;
  overflow-y: visible;
  margin-top: -10%;
  margin-left: 250px;

  /* vertical-align: top; */
}

.example-list1 {
  border: solid 1px #6f6e6e00;
  min-height: 60px;
  background: rgba(255, 255, 255, 0);
  border-radius: 4px;
  overflow: auto;
  display: inline-block !important;
  height: 400px;
  width: 400px;
}

.example-box1 {
  padding: 20px 10px;
  border-bottom: solid 1px #a0a0a072;
  color: rgba(255, 255, 255, 0.577);
  height: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-between; */
  box-sizing: border-box;
  cursor: move;
  background: rgb(55, 58, 58);
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

/* Las de abjo son para las horizontales */
.example-container {
  width: 660px;
  margin: 0;
  display: inline-block;
  padding: 0;
  position: relative;
}

.example-list {
  width: 800px;
  max-width: 100%;
  border: solid 1px rgb(109, 115, 117);
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: rgb(55, 58, 59);
  border-radius: 4px;
  overflow: hidden;

}

.example-box {
  padding: 20px 10px;
  border-right: solid 1px #cfcfcfaa;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: rgba(255, 255, 255, 0);
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  font-size: 18px;

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cuadro-respuesta {
  margin-left: 900px;
  margin-top: -10%;
  width: 700px;

  height: 400px;

  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}

.texto {
  width: 200px;
  margin-top: 18px;
  margin-left: 5px;
  justify-content: flex-start;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.palabra1,
.palabra2,
.reto {
  width: 200px;
  height: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.variables .reto ::before {
  content: "# ";
  line-height: 15px;

}

.texto-explicacion {
  width: 900px;

}

.variables {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1px;
  margin-bottom: -8px;

}

.retoExp {
  font-family: 'Courier New', Courier, monospace;
  align-items: flex-start;
  text-align: start;
  line-height: 25px;
  margin-bottom: -10px;
}

.reto {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  line-height: 15px;
}

@media screen and (max-width:700px) {

  /* .body{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
  }
  .resto{
    grid-column: span 2;
  } */
  .fondoPantalla {
    width: 70%;
    height: 90%;
    padding-top: 0px;
    margin-left: 40px;
    /*Efecto espejo*/
    font-size: 30px;
    border-radius: 10px;
    border: 30px solid rgba(10, 10, 10, 0.883);
    color: rgb(255, 255, 255);
    float: inline-end;

  }

  .navbar {
    width: 100%;
    background-color: rgb(97, 100, 101);
    margin-top: 0px;
    margin-left: 0px;

  }

  .botonTutorial {
    background: rgb(97, 100, 101);
    border-style: hidden;
    width: 60px;
    height: 50px;
    margin-left: 40px;
  }

  .botonTema {

    background: rgb(97, 100, 101);
    border-style: hidden;
    width: 60px;
    height: 50px;
    margin-left: 40px;

  }

  .cuadro-respuesta {
    margin-left: 20px;
    margin-top: 140px;
    max-width: 100%;
    max-height: 100%;
    width: 230px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;

  }

  .example-container1 {
    width: 270px;
    max-width: 100%;
    margin-left: 60px;
    display: inline-block;
    max-height: 200px;
    overflow-y: visible;
    margin-top: 5px;


  }

  .example-list1 {
    border: solid 1px #6f6e6e00;
    min-height: 60px;
    background: rgba(255, 255, 255, 0);
    border-radius: 4px;
    overflow: auto;
    width: 120px;
    height: 120px;
  }
  .example-list {
    width: 190px;
    max-width: 100%;
    border: solid 1px rgb(109, 115, 117);
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: rgb(55, 58, 59);
    border-radius: 4px;
    overflow: hidden;

  }
  .example-container {
    width: 250px;
    margin: 0;
    display: inline-block;
    padding: 0;
    position: relative;
  }

  .reto {
    font-size: 12px;
  }

  .logo {
    height: 100px;
    width: 200px;
    position: relative;

  }

  .centro {
    margin-left: 100px;
  }
}
