<mat-card class="tarjetaPrincipal">
  <mat-card-content>
    <mat-card-title>Lista de Profesores Registrados</mat-card-title>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input  matInput (keyup)="applyFilter($event)" placeholder="Ingrese el nombre del profesor" #input>
    </mat-form-field>
    <div class="demo-button-container">
      <button mat-raised-button (click)="registrarProfesor()" class="demo-button">
        Registrar   Profesor
      </button>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{row.idProfesor}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
          <td mat-cell *matCellDef="let row">{{row.apellido}}</td>
        </ng-container>
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
          <td mat-cell *matCellDef="let row">{{row.correo}}</td>
        </ng-container>
        <ng-container matColumnDef="foto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Foto</th>
          <td mat-cell *matCellDef="let row"><div class="imagenMiniatura" style="background-image: url({{row.foto}});"></div></td>
        </ng-container>
        <ng-container matColumnDef="idGenero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Genero</th>
          <td mat-cell *matCellDef="let row">{{row.idGenero}}</td>
        </ng-container>
        <ng-container matColumnDef="usuarioCreador">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Creador</th>
          <td mat-cell *matCellDef="let row">{{row.usuarioCreador}}</td>
        </ng-container>

        <ng-container matColumnDef="fechaCreacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creación</th>
          <td mat-cell *matCellDef="let row">{{formatDate(row.fechaCreacion)}}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioModificador">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificador</th>
          <td mat-cell *matCellDef="let row">{{row.usuarioModificador}}</td>
        </ng-container>

        <ng-container matColumnDef="fechaModificacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Modificación</th>
          <td mat-cell *matCellDef="let row">{{formatDate(row.fechaModificacion)}}</td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let i = index"style="text-align:center">
            <a  class="botones" [routerLink]="['/profesor/actualizarProfesor/',element.idProfesor]" style="color:rgb(19, 12, 59); cursor:pointer" (click)="actualizarProfesor(element.idProfesor)" matTooltip="Editar Profesor">
              <mat-icon>edit</mat-icon>
            </a>
            <a  class="botones" (click)="eliminarProfesor(element.idProfesor)" style="color:rgb(224, 26, 26); cursor:pointer" matTooltip="Eliminar Profesor">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No existe un profesor con el nombre "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5]" aria-label="Seleccione la pagina de profesores"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
