.body
{
  display: flex;
  justify-content: left;
  width: 100%;
  height: 100%;
  align-items: center;
  line-height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  

}
.login{
  width: 40%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fondoTarjeta{
  max-width: 435px;
  top: 20px;
  bottom: 55px;
  right: 50px;
   /*Efecto espejo*/
  padding: 1em;
  width: 80%;
  position: relative;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.11);
 
}
.logo{
  position: initial;
  width: 329px;
  height: 213px;
  right: 120px;
  top: 144px;
  
}

.ancho{
  width: 100%;
}
.cambiar-contra{
  justify-content: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  color: white;
}
.button{
  height: 50px;
  /*background-color:rgb(115, 112, 121);*/
  color: white;
}
.spinner{
  margin: 0 auto;
}
.centrar{
  text-align: center;
  color: rgb(255, 255, 255);
}
