
<div class="body">
  <div class="login">
    <img src="./assets/images/logging.png" width="1550px" height="740px" style="position: absolute; right: 0; top: 0; z-index: -100; ">
    <mat-card class="fondoTarjeta">
      <mat-card-content>
        <img src="./assets/images/logo.png" class="logo" >
        <mat-spinner class="spinner" *ngIf="loading" ></mat-spinner>
        <form *ngIf="!loading" [formGroup] ="form" (ngsubmit)="ingresar()">
            <mat-tab-group >
            <mat-tab label="Login" >
              <p></p>
              <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input type= "text" matInput autocomplete="off"  formControlName="usuario">
              </mat-form-field>
              <mat-form-field appearance="fill" class="ancho">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <button type="submit" (click)="ingresar()" class="ancho" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
              <button type="submit" (click)="IngresarConGoogle()" class="ancho" mat-raised-button color="primary">Ingresar con Google</button>
              <button type="submit" (click)="IngresarConFacebook()" class="ancho" mat-raised-button color="primary">Ingresar con Facebook</button>
              <u class="cambiar-contra" ><a href="/auth/registro">Registrarse</a></u>
              <!--<u class="cambiar-contra" ><a href="/auth/registro">Registrarse</a></u>-->
              <div class="centrar">
                <u class="cambiar-contra"><a  href="/auth/recuperar">Recuperar contraseña</a></u>
              </div>
            </mat-tab>
            <mat-tab label="Create Account">
              <app-registro></app-registro>
            </mat-tab>
          </mat-tab-group>
        </form>
      </mat-card-content>
    </mat-card>

  </div>

</div>
  