.body
{
  display: flex;
  justify-content: left;
  width: 100%;
  height: 100%;
  line-height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../../../../assets/images/logging.png);
  background-size: cover;
}
.login{
  width: 40%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  
}

.fondoTarjeta{
  max-width: 435px;
  top: 20px;
  bottom: 55px;
  right: 50px;
  font-family: Pirata One;
   /*Efecto espejo*/
  padding: 1em;
  width: 80%;
  
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.11);
  
 
}

.logo{
  height: 220px;
  padding-right: 30px
  
  
}
.ancho{
  width: 100%;
}


.cambiar-contra{
  justify-content: center;
  text-align: center;
  font-family: 'Pirata One' ;
  font-size: 15px;
  color: white;
}
.button{
  height: 50px;
  /*background-color:rgb(115, 112, 121);*/
  color: white;
}
.spinner{
  margin: 0 auto;
  
}
.centrar{
  text-align: center;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 600px) {
  .bg-img {
    width: 100%;
    margin-top: 0;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.193);
    display: inline-table;
  }
  .fondoTarjeta{
    max-width: 20em;
    top: 1px;
    bottom: 30px;
    right: 1px;
    left: -19px;
    font-family: Pirata One;
     /*Efecto espejo*/
    padding: 1em;
    max-width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.11);
  }
  .logo{
    height: 170px;
    
    padding:20px ;
  }
  .login{
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    
  }
  .botones {
    width: 6em;
    font-family: Pirata One;
    border-radius: 1px;
    background-color: aqua;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    align-content: center;
    
}
  .botones:hover{
    background-color: black;
    color: aqua;
  }
  .entradas {
    width: 42em;
    padding-left:-60px;
    font-family: 'Pirata One' ;
  }
  .body
{
  
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
 
}
}
.botones {
  max-width: 10em;
  width: 10em;
  font-family: Pirata One;
  border-radius: 10px;
  margin-top: 20px;
  background-color: aqua;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 1em;
  font-size: 1.5em;
  margin-left: 5em;
  align-content: center;
  color: black;
  
}
.botones:hover{
  background-color: black;
  color: aqua;
}
.entradas {
  width: 22em;
  
  max-width: 500em;
  max-height: 250em;
  padding-left: 2em;
  margin-left: 2em;
  height: 3em;
  font-family: 'Pirata One' ;
}
.mat-label{
  color: white;
}
.otrac {
  padding-left: 40px;
  display: flex;
 margin-top: 20px;
 margin-bottom: 10px; 
}
.labels {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: white;
  font-family: 'Pirata One' ;
}
/***************************/




