.body
{
  display: flex;
  justify-content: left;
  width: 100%;
  height: 100%;
  line-height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../../../../assets/images/logging.png); 
  background-size: cover;
}
.login{
  width: 40%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  
}

.fondoTarjeta{
  max-width: 435px;
  top: 20px;
  bottom: 55px;
  right: 50px;
  font-family: Pirata One;
   /*Efecto espejo*/
  padding: 1em;
  width: 80%;
  
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.11);
  
 
}

.logo{
  height: 220px;
  
  padding-left: 35px;
  
}
.ancho{
  width: 100%;
}
.entradauc1 {
  margin-left: 100px;
  width: 235px;
  font-family: Pirata One;
}
.entradauc2 {
  margin-left: 100px;
  font-family: Pirata One;
}

.cambiar-contra{
  justify-content: center;
  text-align: center;
  font-family: 'Pirata One' ;
  font-size: 15px;
  color: white;
}
.button{
  height: 50px;
  /*background-color:rgb(115, 112, 121);*/
  color: white;
}
.spinner{
  margin: 0 auto;
  
}
.centrar{
  text-align: center;
  color: rgb(255, 255, 255);
}
.botones {
  max-width: 10em;
  width: 10em;
  font-family: Pirata One;
  border-radius: 10px;
  margin-top: 10px;
  background-color: aqua;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 1em;
  font-size: 1.5em;
  margin-left: 5.45em;
  text-align: center;
  color: black;
  
  
}
.botones:hover{
  background-color: black;
  color: aqua;
}
.entradas {
  width: 180em;
  
  max-width: 500em;
  max-height: 250em;
  padding-left: 2em;
  margin-left: 2em;
  height: 5em;
  font-family: 'Pirata One' ;
}
.mat-label{
  color: white;
}
.otrac {
display: flex;
 margin-top: 5px;
 margin-bottom: 10px; 
 margin-left: 67.5px;
 width: auto;
 height: auto;
}
.labels {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: white;
  font-family: 'Pirata One' ;
}
.colorentrada{
  color: white;
}

/**lineas*/
.lienas{
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Pirata One' ;
  margin-top: 20px;
}
.lienas::after,.lienas::before{
  content: '';
  position: absolute;
  width: 170px;
  height: 3px;
  background-color: aqua;
  margin-top: 10px;
}
.lienas::before{
  left: -10px;
}
.lienas::after{
  right: -10px;
}
.vinculos-contra{
  font-family: Pirata One;
  font-size: 20px;
  color: white;
 top: 20px;
 bottom: 20px; 
 margin-left: -7px;
}
.vinculos-contra:hover{
 
  color: aqua;
 
}
/***************************/

@media screen and (max-width: 600px) {
  .bg-img {
    width: 100%;
    margin-top: 0;
    background-image: url(../../../../assets/images/logging.png);
    
    display: inline-table;
  }
  .fondoTarjeta{
    max-width: 20em;
    top: 1px;
    bottom: px;
    right: 1px;
    left: 1px;
    font-family: Pirata One;
     /*Efecto espejo*/
    padding: 1em;
    max-width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.176);
  }
  .logo{
    height: 170px;
    
    padding:20px ;

  }
  .login{
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
   
  }
  .botones {
    width: 6em;
    font-family: Pirata One;
    border-radius: 10px;
    background-color: aqua;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-content: center;
    margin-left: 81px;
        
}
  .botones:hover{
    background-color: black;
    color: aqua;

  }
  .entradas {
    width: 42em;
    padding-left: 50px;
    font-family: 'Pirata One' ;
  }
  .body
{
  
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
 
}
.entradauc1 {
  margin-left: 40px;
  width: 235px;
}
.entradauc2 {
  margin-left: 40px;
}
.ingresar {
  text-align: center;
}
.otrac {
 padding-left: 1px;
 display: flex;
 margin-top: 10px;
 margin-bottom: 1px; 
 margin-left: 38.5px;
}
.lienas{
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Pirata One' ;
  margin-top: 20px;
}
.lienas::after,.lienas::before{
  content: '';
  position: absolute;
  width: 97px;
  height: 1.5px;
  background-color: aqua;
  margin-top: 15px;
}
.lienas::before{
  left: -10px;
}
.lienas::after{
  right: -10px;
}
}


#google{
  background-image: url('../../../../assets/images/google.png');
  background-repeat: no-repeat;
}
mat-tab-group{
  font-family: 'Pirata One' ;
}