<div class="body">
  <br>
  <div class="container">
    <h2 class="categoria-text">Categoria 1</h2>
    <div class="slider">
      <div class="izq"><a type="submit" (click)="pasarIzq()"><mat-icon>keyboard_arrow_left</mat-icon></a></div>
        <mat-card class="example-card">
          <br>
          <img mat-card-image class="producto-img" src="../assets/images/tienda/mascara.png">
          <br>
          <mat-card-content>
            <p class="precio">100 <img mat-card-image class="precio-img" src="../assets/images/moneda.png"></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="botones">Canjear</button>
          </mat-card-actions>
          <br>
        </mat-card>
        <mat-card class="example-card">
          <br>
          <img mat-card-image class="producto-img" src="../assets/images/tienda/mascara.png">
          <br>
          <mat-card-content>
            <p class="precio">100 <img mat-card-image class="precio-img" src="../assets/images/moneda.png"></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="botones">Canjear</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <br>
          <img mat-card-image class="producto-img" src="../assets/images/tienda/mascara.png">
          <br>
          <mat-card-content>
            <p class="precio">100 <img mat-card-image class="precio-img" src="../assets/images/moneda.png"></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="botones">Canjear</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <br>
          <img mat-card-image class="producto-img" src="../assets/images/tienda/mascara.png">
          <br>
          <mat-card-content>
            <p class="precio">100 <img mat-card-image class="precio-img" src="../assets/images/moneda.png"></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="botones">Canjear</button>
          </mat-card-actions>
        </mat-card>
      <div class="der"><a type="submit" (click)="pasarDer()"><mat-icon>keyboard_arrow_right</mat-icon></a></div>
    </div>
    <br><br>
    <h2 class="categoria-text">Categoria 2</h2>
    <div class="slider">
      <div class="izq"><a type="submit" (click)="pasarIzq()"><mat-icon>keyboard_arrow_left</mat-icon></a></div>
        <mat-card class="example-card">
          <br>
          <img mat-card-image class="producto-img" src="../assets/images/tienda/mascara.png">
          <br>
          <mat-card-content>
            <p class="precio">100 <img mat-card-image class="precio-img" src="../assets/images/moneda.png"></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="botones">Canjear</button>
          </mat-card-actions>
          <br>
        </mat-card>
        <mat-card class="example-card">
          <br>
          <img mat-card-image class="producto-img" src="../assets/images/tienda/mascara.png">
          <br>
          <mat-card-content>
            <p class="precio">100 <img mat-card-image class="precio-img" src="../assets/images/moneda.png"></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="botones">Canjear</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <br>
          <img mat-card-image class="producto-img" src="../assets/images/tienda/mascara.png">
          <br>
          <mat-card-content>
            <p class="precio">100 <img mat-card-image class="precio-img" src="../assets/images/moneda.png"></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="botones">Canjear</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <br>
          <img mat-card-image class="producto-img" src="../assets/images/tienda/mascara.png">
          <br>
          <mat-card-content>
            <p class="precio">100 <img mat-card-image class="precio-img" src="../assets/images/moneda.png"></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="botones">Canjear</button>
          </mat-card-actions>
        </mat-card>
      <div class="der"><a type="submit" (click)="pasarDer()"><mat-icon>keyboard_arrow_right</mat-icon></a></div>
    </div>
  </div>

</div>
