.body{
  background: url(../../../../assets/images/fondos/fondoHome.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 920px;
  align-items: center;
}
.container{
  width: 1030px;
  height: 800px;
  margin-right: 80px;
  margin-left: 110px;
  padding: 48px;

}
.categoria-text{
  margin-left: 5%;
  font-size:40px;
  color:white;
}
.slider{
  margin-left: -45%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.izq{
  margin-left:450px;
}
.der{
  margin-right: -550px;
}
.izq,.der {
  margin-top: 135px;
  position: relative;
  background-color: transparent;
  color: black;

}

.example-card {
  width: 190px;
  max-height: 250px;
  margin:10px;
  text-align: left;
  border-radius: 24px;
  background: linear-gradient(rgba(18, 23, 29, 0.808),rgb(18,23,29,0.808));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);

}
mat-card-content img{
  float: left;
  margin-top: -14%;
  margin-left: 80%;
  margin-right: 4%;
}
.producto-img{

  transform: translateX(65px);
  width:80px;
  height:100px;
  align-items: center;
}
.precio-img{
  vertical-align: middle !important;
  transform: translate(-50px, -5px);
  float: right;
  width:30px;
  height:30px;
  margin-left: -48%;

}
.precio{
  font-size:40px;
  color:white;
  margin-left:30%;
  margin-top: 5px;
}
.mat-card-actions{
  margin-left:15%;
}
.botones{
  width:140px;
  height:40px;
  color: rgb(254,254,231);
  border-radius: 20px;
  background-color: rgb(85, 183, 232);
  text-align: center !important;
  align-items: center !important;
  display: inline-block;
  font-size: 20px;

}
