/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.font1
{
  font-family: 'Ubuntu', sans-serif;

} */
body { margin: 0; font-family:'Mouse Memoirs', sans-serif; }

html, body { height: 100%; }
body { margin: 0;font-family: 'Mouse Memoirs', sans-serif; }

.font1
{
  font-family: Mouse Memoirs;
}
.mat-tab-body-content{
  overflow: hidden !important;
}
a {
  text-decoration: none;
  }
.mat-input-element{
  color: white !important;
}

::-webkit-scrollbar{
  width: 1vw;
}
::-webkit-scrollbar-track{
  background-color: hsl(0,0,76 / 1);
  border-radius: 100vw;
  margin-block: 2em;

}
::-webkit-scrollbar-thumb{
  background-color: rgb(97, 100, 101);
  border: .25em solid #eacda3/.5;
  border-radius: 100vw;


}

