<div class="fondo">
  <div class="menuIzq">
    <div class="menu">
      <button type="button" class="button" (click)="verTutorial()">
        <label style="margin-bottom:0%; cursor:pointer;">
          Tutorial
        </label>
        <img src="../../../../../assets/images/tutorial.png" class="iconoMenu">
      </button>
      <button type="button" class="button" routerLink="/missionStudent">
        <label style="margin-bottom:0%; cursor:pointer;">
          Misiones
        </label>
        <img src="../../../../../assets/images/mision.png">
      </button>
      <button type="button" class="button" (click)="articulosAdquiridos()">
        <label style="margin-bottom:0%; cursor:pointer;">
          Art&iacute;culos Adquiridos
        </label>
        <img class="iconoMenu" style=" width: 50px;" src="../../../../../assets/images/cofreArticulosAdq.png" >
      </button>
      <button type="button" class="button" (click)="home()">
        <label style="margin-bottom:0%; cursor:pointer;">
          Volver a Home
        </label>
        <img src="../../../../../assets/icons/2.png" class="iconoMenu">
      </button>
    </div>
  </div>
  <div class="contentPerfilStudent">
    <div class="userRow">
      <img mat-card-image class="imgAvatar" src="{{imgAvatar}}">
      <br><br>
      <div class="tituloInfoEstudiante">Apodo: {{nickname}}</div>
      <div class="tituloInfoEstudiante">Puntuaci&oacute;n: {{puntuacion}} </div>
      <div class="tituloInfoEstudiante">Monedas:{{monedas}} </div>
    </div>
  </div>
  
  <div class="tesoro1" *ngIf="retos[0] != undefined" (click) = "redireccion(retos[0].idReto)">
      <img src="../../../../../assets/images/Recurso34.png">
  </div>
  <div class="tesoro2" *ngIf="retos[1] != undefined" (click) = "redireccion(retos[1].idReto)">
      <img src="../../../../../assets/images/Recurso34.png" alt="" >
  </div>
  <div class="tesoro3" *ngIf="retos[2] != undefined" (click) = "redireccion(retos[2].idReto)">
      <img src="../../../../../assets/images/Recurso34.png" alt="">
  </div>
  <div class="tesoro3" *ngIf="retos[2] != undefined" (click) = "redireccion(retos[2].idReto)">
      <img src="../../../../../assets/images/Recurso34.png" alt="">
  </div>
  <div class="tesoro3" *ngIf="retos[2] != undefined" (click) = "redireccion(retos[2].idReto)">
      <img src="../../../../../assets/images/Recurso34.png" alt="">
  </div>
  <div class="tesoro3" *ngIf="retos[2] != undefined" (click) = "redireccion(retos[2].idReto)">
      <img src="../../../../../assets/images/Recurso34.png" alt="">
  </div>
</div>

