<div class="body">
  <mat-grid-list cols="3" rowHeight="2:1" style="height:100%">
    <mat-grid-tile colspan="1" class="cuadroIzq">
      <mat-card class="tarjetaCurso">
        <mat-card-header>
          <mat-card-title class="nombreCurso">{{nombreCurso}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="infoCurso">
          <p><span class="datosCurso"><b>Inicio del Curso:</b></span>  {{fechaFormateadaInicio}}</p>
          <p><span class="datosCurso"><b>Finalizaci&oacute;n del Curso:</b></span> {{fechaFormateadaFinal}}</p>
          <p><span class="datosCurso"><b>Estudiantes Matriculados:</b></span> {{cantEstudiantiantes}}/{{maxEstudiantes}}</p>
          <p><span class="datosCurso"><b>Progreso del Curso:</b></span> {{progresoCurso}}</p>
          <p><span class="datosCurso"><b>Estado:</b></span> {{nombreEstado}}</p>
        </mat-card-content>
        <mat-card-actions class="boton">
          <button mat-raised-button class="botones" (click)="listaRetos()">Listar Retos</button>
          <button mat-raised-button class="botones" (click)="misEstudiantes()">Mis Estudiantes</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" class="cuadroDer">
      <mat-card class="tarjetaReto">
        <router-outlet></router-outlet>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
