  <div class="body" fxLayout="column">
    <div fxFlex="50" class="slider">
      <app-slider-principal></app-slider-principal>
    </div>
    <div fxLayout="column" fxLayoutAlign="start"  class="card1">
      <mat-card  class="tarjetaPeq"  fxFlex="60">
        <mat-card-header fxLayout="column" fxLayoutAlign="center center" class="contenedor-tarjeta-peq">
          <mat-card-title class="titulo1">Hola, Profesor {{capitalizerFirstLetter(profesor.nombre || '')}} {{capitalizerFirstLetter(profesor.apellido || '')}}</mat-card-title>
          <mat-card-subtitle class="tituloTarjetaPeq">Bienvenido de nuevo a Language Conquers</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </div>
  <div class="fondoTarjeta">
    <h2 class="tituloCursos">Cursos</h2>
    <div class="profesor">
      <mat-card class="cursos" *ngFor="let tarjetas of cursos" (click)="seleccionarCurso(tarjetas.idCurso!)">
        <img mat-card-image src="./assets/images/fondos/portadaCurso.png">
          <mat-card-subtitle class="titulo">Facultad de Ingenier&iacute;a</mat-card-subtitle>
          <a class="vinculos-contra">{{tarjetas.nombre}}</a>
      </mat-card>
    </div>
  </div>
</div>
