.tarjetaPrincipal {
    width: 80%;
    height: 500px;
    margin-right: 20px;
    margin-left: 70px;
    /*Efecto espejo*/
    padding: 55px;
    background: linear-gradient(135deg,
        rgba(172, 153, 139, 0.514),
        rgba(172, 153, 139, 0.514));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.36);
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .entradas {
    display: grid;
    margin-top: 10px;
    margin-bottom: -100px;
    grid-template-columns: repeat(1, 18em);
    justify-content: center;

  }

  .titulos {
    font-size: 20px;
    color: rgb(255, 255, 255);

  }

  .tituloImagen, .tituloImagen1{
    font-size: 25px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
  }
  .tituloImagen1{
    margin-top: -15px;
    margin-left: 5px;

  }

  .titulosCheckbox{
    margin-left: 40px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: flex;
    align-content: center;
    align-items: center;
    height: 40px;

  }
  .inputFile{
    margin-left:20px
  }
  .inputUrl{
    width:200px;
  }

  #imagen1{
    display: none;
  }

  .botonSeleccionarArchivo{
    margin-left: -119px;
    margin-top: -31px;
    width: 128px;
    height:20px;
    background-color: rgb(205, 159, 118);
    border-radius: 20px;
    position: absolute;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.36);
    cursor: pointer;
  }


  input{
      width: 30px !;
  }
  .campo-entrada {
    float: right;
    width: 100%;
    padding-right: 8px;

  }

  .campofecha {
    align-items: center;
    width: 50%;
    padding-left: 80px;
    float: right;
  }

  form {
    height: 350px;
    width: auto;
  }

  .boton {
    margin: 8px;
    position: center;
    margin-left: -20px;
    margin-right: -15%;
    line-height: 35px;
    align-items: center;
  }

  .botones {
    color: rgb(254, 254, 231);
    border-radius: 20px;
    background-color: rgb(201, 131, 69);
    text-align: center !important;
    align-items: center !important;
    margin: 0 10px;
    display: inline-block;
    width: 130px;
    height: 40px;
    font-size: 20px;

  }

  .botonsalir {
    color: rgb(201, 131, 69);
    border-radius: 20px;
    background-color: rgb(254, 254, 231);
    text-align: center !important;
    align-items: center !important;
    margin: 0 10px;
    display: inline-block;
    width: 100px;
    height: 40px;
    font-size: 20px;

  }
  .mat-input-element{
    color: rgb(136,103,82) !important;
  }

  mat-card-title{
    font-size:30px;
  }
