<img src="./assets/images/principal.png" width="100%" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.65;">
<div>
  <h1>Reto Condicionales</h1>
  <p>Descripcion del reto</p>
    <ul
      class="drop-area"
      cdkDropList>
    </ul>

    <div class="contenedores">

      <div class="example-box" cdkDrag>
        If
        <div class="example-handle" cdkDragHandle>
        </div>
      </div>
      <div class="example-box" cdkDrag>
        (
        <div class="example-handle" cdkDragHandle>
        </div>
      </div>
      <div class="example-box" cdkDrag>
        )
        <div class="example-handle" cdkDragHandle>
        </div>
      </div>
    </div>
    <div class="botonRun">
      <a mat-button  routerLink= "/">
        <img src="assets/icons/run.png"  width="30" height="30" alt="">
        Run</a>

    </div>

    </div>
